<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            id="org.eclipse.mylyn.gerrit"
            class="org.eclipse.mylyn.internal.gerrit.core.GerritConnector"
            name="Gerrit"/>
	  <connectorUi
         brandingIcon="icons/gerrit.png"
         class="org.eclipse.mylyn.internal.gerrit.ui.GerritConnectorUi"
         id="org.eclipse.mylyn.gerrit"
         name="Gerrit"
         overlayIcon="icons/gerrit-overlay.png"/>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="false"
            anonymous="false"
            label="Eclipse.org Reviews"
            repositoryKind="org.eclipse.mylyn.gerrit"
            urlRepository="https://git.eclipse.org/r">
      </repository>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
         <pageFactory
            class="org.eclipse.mylyn.internal.gerrit.ui.editor.GerritTaskEditorPageFactory"
            id="org.eclipse.mylyn.gerrit.ui.pageFactory">
      </pageFactory>   
   </extension>
</plugin>
