<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="mylyn-reviews-e3.7">
<locations>
<location includeAllPlatforms="true" includeMode="planner" includeSource="true" type="InstallableUnit">

<repository location="http://download.eclipse.org/releases/indigo"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="0.0.0"/>

<repository location="http://download.eclipse.org/mylyn/snapshots/weekly"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>

<repository location="http://download.eclipse.org/egit/updates"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>

<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20110304120314/repository/"/>
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="com.google.gson" version="1.6.0.v201101131530"/>
<unit id="com.google.gwt.user" version="2.0.4.v20100709-0658"/>
<unit id="com.google.gwtjsonrpc" version="1.2.2.v201103020530"/>
<unit id="com.google.gwtorm" version="1.1.4.v201103020530"/>
<unit id="com.google.gerrit.prettify" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.reviewdb" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.common" version="2.1.5.v201103020530"/>

</location>
</locations>
</target>
