<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="newWizards" name="newWizards" schema="schema/newWizards.exsd"/>
   <extension-point id="categories" name="category" schema="schema/categories.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.mylyn.ui"
            class="org.eclipse.mylyn.internal.commons.repositories.ui.RepositoriesView"
            icon="icons/eview16/repositories.gif"
            id="org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories"
            name="%TeamRepositoriesView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories">
         <includes>
            <contentExtension
                  pattern="org.eclipse.mylyn.commons.repositories.ui.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories">
         <includes>
            <actionExtension
                  pattern="org.eclipse.mylyn.commons.repositories.ui.navigator.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.mylyn.internal.commons.repositories.ui.RepositoryCategoryContentProvider"
            icon="icons/obj16/folder.gif"
            id="org.eclipse.mylyn.commons.repositories.ui.navigator.RepositoryCategories"
            labelProvider="org.eclipse.mylyn.internal.commons.repositories.ui.RepositoryLabelProvider"
            name="Categories">
         <possibleChildren>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <instanceof
                  value="org.eclipse.mylyn.commons.repositories.core.RepositoryCategory">
            </instanceof></triggerPoints>
         <commonSorter
               class="org.eclipse.mylyn.internal.commons.repositories.ui.RepositoryCategorySorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.mylyn.internal.commons.repositories.ui.EmptyRepositoryCategoriesFilter"
            id="org.eclipse.mylyn.commons.repositories.ui.navigator.filter.EmptyCategories"
            name="Empty Categories">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.mylyn.commons.repositories.ui.category.Team"
            name="Team">
      </category>
      <command
            categoryId="org.eclipse.mylyn.commons.repositories.ui.category.Team"
            defaultHandler="org.eclipse.mylyn.internal.commons.repositories.ui.NewRepositoryHandler"
            id="org.eclipse.mylyn.commons.ui.command.AddRepository"
            name="Add Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
            icon="icons/etool16/repository-new.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories">
         <command
               commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
               label="%AddRepositoryCommand.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories?after=group.new">
         <menu
               id="new"
               label="%NewMenu.label">
            <command
                  commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
                  label="%RepositoryCommand.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories?after=group.goto">
         <menu
               label="%ShowInMenu.label">
            <dynamic
                  class="org.eclipse.mylyn.internal.commons.repositories.ui.ShowInMenuContribution"
                  id="org.eclipse.mylyn.commons.repositories.ui.menu.ShowIn">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <not>
                        <instanceof
                              value="org.eclipse.mylyn.commons.repositories.core.RepositoryCategory">
                        </instanceof>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.mylyn.commons.repositories.ui.navigator.Repositories?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%DeleteCommand.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.repositories.core.locationServices">
      <service
            class="org.eclipse.mylyn.internal.commons.repositories.ui.UiLocationService"
            id="org.eclipse.mylyn.commons.repositories.ui.LocationService">
      </service>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.repositories.ui.categories">
      <category
            id="org.eclipse.mylyn.category.tasks"
            label="%TasksCategory.label"
            rank="0">
      </category>
      <category
            id="org.eclipse.mylyn.category.bugs"
            label="%BugsCategory.label"
            rank="100">
      </category>
      <category
            id="org.eclipse.mylyn.category.build"
            label="%BuildsCategory.label"
            rank="200">
      </category>
      <category
            id="org.eclipse.mylyn.category.review"
            label="%ReviewsCategory.label"
            rank="300">
      </category>
      <category
            id="org.eclipse.mylyn.category.requirements"
            label="%RequirementsCategory.label"
            rank="400">
      </category>
      <category
            id="org.eclipse.mylyn.category.other"
            label="%OtherCategory.label"
            rank="500">
      </category>
   </extension>

</plugin>
