<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.mylyn.internal.docs.epub.ui.commands.ConvertMarkupToEPUB"
            id="org.eclipse.mylyn.docs.epub.ui.convertToEPUBCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.mylyn.wikitext.ui.contextmenu?after=additions">
         <command
               commandId="org.eclipse.mylyn.docs.epub.ui.convertToEPUBCommand"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="opf"
            id="org.eclipse.mylyn.docs.epub.ui.contentType.OPF"
            name="Open Publication Format manifest (OPF)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="ncx"
            id="org.eclipse.mylyn.docs.epub.ui.contentType.NCX"
            name="Navigation Control file for XML (NCX)"
            priority="normal">
      </content-type>
   </extension>

</plugin>
