IEclipsePreferences#org-eclipse-mylyn-wikitext-ui {
	preferences:
		'block-h1=font-size: 120%; font-weight: bold; color: #1290c3;'
		'block-h2=font-size: 110%; font-weight: bold; color: #1290c3;'
		'block-h3=font-size: 105%; font-weight: bold; color: #1290c3;'
		'block-h4=font-weight: bold; color: #1290c3;'
		'block-h5=font-size: 90%; font-weight: bold; color: #1290c3;'
		'block-h6=font-size: 80%; font-weight: bold; color: #1290c3;'
		'phrase-code=font-family: monospace; color:  #1290c3;'
}
