---
- name: Creates directory
  ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0755'
  loop:
    - "/mylyn-runtime-dir/{{ role_name }}/logs"
    - "/mylyn-config-dir/{{ role_name }}/etc-traefik"

- name: Template  files
  ansible.builtin.template:
    src: "{{item.template_path}}{{ item.name }}.j2"
    dest: "/mylyn-config-dir/{{ role_name }}{{ item.path }}/{{ item.name }}"
    mode: '0644'
  loop:
    - { path: /etc-traefik, template_path: "templates/{{docker_mode}}_", name: traefik.yml }
    - { path: /etc-traefik, template_path: "templates/", name: traefik.dynamic.yml }

- name: Pull  image
  community.docker.docker_image:
    name: traefik:latest
    source: pull


- name: include {{docker_mode}}
  ansible.builtin.include_tasks:
    file: "{{docker_mode}}_tasks.yml"



- name: Create secret foo (from a file on the target machine)
  community.docker.docker_secret:
    name: master.crt
    data_src: "/mylyn-config-dir/certs/{{ groups[hostvars['localhost'].grp_prefix + \"_swarm_master\"][0] }}.crt"
    state: present
  when: ((docker_mode is defined) and (docker_mode == 'swarm'))
- name: Create secret foo (from a file on the target machine)
  community.docker.docker_secret:
    name: master.key
    data_src: "/mylyn-config-dir/certs/{{ groups[hostvars['localhost'].grp_prefix + \"_swarm_master\"][0] }}.key"
    state: present
  when: ((docker_mode is defined) and (docker_mode == 'swarm'))

- name: delete data-volume
  community.docker.docker_volume:
    name: "registry-data-volume"
    state: absent

- name: create data-volume
  community.docker.docker_volume:
    name: "registry-data-volume"
    state: present

- name: local registry Service
  community.docker.docker_swarm_service:
    name: registry
    image: registry:2
    publish:       
      - published_port: "5000"
        target_port: "5000"
    mounts:
      - source: "registry-data-volume"
        target: "/var/lib/registry"
        type: volume
    env:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_HTTP_TLS_CERTIFICATE: /run/secrets/master.crt
      REGISTRY_HTTP_TLS_KEY: /run/secrets/master.key
    placement:
      constraints:
        - node.role == manager
    replicas: 1
    secrets:
      - secret_name: master.crt
      - secret_name: master.key
  when: ((docker_mode is defined) and (docker_mode == 'swarm'))
- name: local registry Container
  community.docker.docker_container:
    name: registry
    image: registry:2
    ports:       
      - "5000:5000"
    networks:
      - name: mylyn_net
    env:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_HTTP_TLS_CERTIFICATE: "/run/secrets/{{ groups[hostvars['localhost'].grp_prefix + \"_swarm_master\"][0] }}.crt"
      REGISTRY_HTTP_TLS_KEY: "/run/secrets/{{ groups[hostvars['localhost'].grp_prefix + \"_swarm_master\"][0] }}.key"
    volumes:
      - "registry-data-volume:/var/lib/registry"
      - "/mylyn-config-dir/certs:/run/secrets"
  when: ((docker_mode is defined) and (docker_mode == 'container' or docker_mode == 'single'))
