<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="mylyn-dev-all" sequenceNumber="16">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.apache.lucene.core" version="2.9.1.v201101211721"/>
<unit id="org.antlr.runtime" version="3.0.0.v200803061811"/>
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<unit id="org.objenesis" version="1.0.0.v201105211943"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.1.2.v201203221030"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.1.4.v201203221030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130118183705/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.birt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.papyrus.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/indigo/201109230900/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.builds.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.docs.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.reviews.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.versions.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/snapshots/nightly"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/updates-nightly"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.tigris.subversion.subclipse.feature.group" version="0.0.0"/>
<unit id="org.tigris.subversion.subclipse.mylyn.feature.group" version="0.0.0"/>
<unit id="org.tigris.subversion.clientadapter.feature.feature.group" version="0.0.0"/>
<unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="0.0.0"/>
<repository location="http://subclipse.tigris.org/update_1.8.x"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx256m
-XX:MaxPermSize=128m</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
