<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
 *******************************************************************************
 * Copyright (c) 2022, 2025 Contributors to the Eclipse Foundation
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *   See git history
 *******************************************************************************
--><target name="org.eclipse.mylyn.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.38-I-builds/I20251003-1800/"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/egit/github/updates/"/>
			<unit id="org.eclipse.egit.github.core" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/egit/staging/v7.5.0.202510071400-m1/"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.lfs.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/S202509240621/"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/rt/ecf/3.16.5/site.p2/3.16.5.v20250914-0333/"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/cdt/builds/12.3/cdt-12.3.0-m1/"/>
			<unit id="org.eclipse.cdt.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository/"/>
			<unit id="com.google.gerrit.common" version="0.0.0"/>
			<unit id="com.google.gerrit.prettify" version="0.0.0"/>
			<unit id="com.google.gerrit.reviewdb" version="0.0.0"/>
			<unit id="com.thoughtworks.qdox" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20221123021534/repository/"/>
			<unit id="jakarta.servlet" version="0.0.0"/>
			<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
			<unit id="org.apache.xmlrpc.client" version="0.0.0"/>
			<unit id="org.apache.xmlrpc.common" version="0.0.0"/>
			<unit id="org.apache.xmlrpc.server" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository/"/>
			<unit id="com.sun.xml.bind" version="2.3.3.v20221203-1659"/>
			<unit id="jakarta.xml.bind" version="2.3.3.v20221203-1659"/>
			<unit id="javax.activation" version="1.2.2.v20221203-1659"/>
			<unit id="javax.activation" version="2.0.0.v20221203-1659"/>
			<unit id="org.apache.commons.collections4" version="4.4.0.v20221112-0806"/>
			<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2025-12/"/>
			<unit id="junit-jupiter-api" version="5.14.0"/>
			<unit id="junit-jupiter-engine" version="5.14.0"/>
			<unit id="junit-jupiter-migrationsupport" version="5.14.0"/>
			<unit id="junit-jupiter-params" version="5.14.0"/>
			<unit id="junit-platform-commons" version="1.14.0"/>
			<unit id="junit-platform-engine" version="1.14.0"/>
			<unit id="junit-platform-launcher" version="1.14.0"/>
			<unit id="junit-platform-runner" version="1.14.0"/>
			<unit id="junit-platform-suite-api" version="1.14.0"/>
			<unit id="junit-platform-suite-engine" version="1.14.0"/>
			<unit id="junit-platform-suite-commons" version="1.14.0"/>
			<unit id="junit-vintage-engine" version="5.14.0"/>
			<unit id="org.glassfish.hk2.osgi-resource-locator" version="0.0.0"/>
			<unit id="org.apache.commons.lang3" version="0.0.0"/>
			<unit id="org.apache.commons.logging" version="0.0.0"/>
			<unit id="org.apache.commons.text" version="0.0.0"/>
			<unit id="org.apache.lucene.analysis-common" version="0.0.0"/>
			<unit id="org.apache.lucene.core" version="0.0.0"/>
			<unit id="org.apache.lucene.facet" version="0.0.0"/>
			<unit id="org.apache.lucene.queries" version="0.0.0"/>
			<unit id="org.apache.lucene.queryparser" version="0.0.0"/>
			<unit id="org.apache.lucene.sandbox" version="0.0.0"/>
			<unit id="org.apache.xerces" version="0.0.0"/>
			<unit id="org.apache.tika.core" version="0.0.0"/>
			<unit id="com.github.ben-manes.caffeine" version="0.0.0"/>
			<unit id="com.google.gson" version="0.0.0"/>
			<unit id="org.hamcrest" version="0.0.0"/>
			<unit id="org.jsoup" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
			<unit id="org.mockito.mockito-core" version="0.0.0"/>
			<unit id="org.objenesis" version="0.0.0"/>
		</location>
	</locations>
</target>