<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
 
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0
 
    SPDX-License-Identifier: EPL-2.0

    Contributors:
         Tasktop Technologies - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorCategory
            description="%connectorCategory.description"
            id="org.eclipse.mylyn.discovery.tests.connectorCategory1"
            name="%connectorCategory.name">
      </connectorCategory>
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.tests.connectorCategory1"
            description="a fictitious test connector that does nothing"
            id="org.eclipse.mylyn.discovery.tests.connectorDescriptor1"
            kind="task"
            license="UTL (Unit Test License)"
            name="Test Connector"
            provider="UnitTesting"
            siteUrl="http://foo.nodomain/site">
      </connectorDescriptor>
      <certification
            id="org.eclipse.mylyn.discovery.tests.certification1"
            name="%certification.name"
            url="%certification.url">
         <description>
            %certification.description
         </description>
      </certification>
   </extension>

</plugin>
