<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         id="org.eclipse.mylyn.helpDocs"
         name="Task-Focused UI"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true">
      </toc>
   </extension>
   
    <extension point="org.eclipse.ui.actionSets">
	<actionSet
            id="org.eclipse.mylyn.doc.actionSet"
            label="Mylyn Documentation"
            visible="true"> 
  		<action
          class="org.eclipse.mylyn.internal.help.ui.actions.ShowMylarLegendAction"
          definitionId="org.eclipse.mylyn.doc.legend.show"
          icon="icons/etool16/icons-legend.gif"
          id="org.eclipse.mylyn.doc.legend.show.action"
          label="Task-Focused UI Legend"
          menubarPath="help/helpStart"
          style="push"
          tooltip="Task-Focused UI Legend"> 
      	</action> 
    </actionSet>
    </extension>
  
   <extension point="org.eclipse.ui.commands">
   <category
         id="org.eclipse.mylyn.doc.commands"
         name="Task-Focused UI Documentation">
   </category>
	  <command
         category="org.eclipse.mylyn.doc.commands"
         categoryId="org.eclipse.mylyn.doc.commands"
         description="Show Mylyn UI Legend"
         id="org.eclipse.mylyn.doc.legend.show"
         name="Task-Focused UI Legend">
      </command>
   </extension>
  
   <extension point="org.eclipse.ui.bindings">   
      <key
            sequence="M1+M2+M3+?"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylyn.doc.legend.show"
            schemeId ="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/whatsnewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorialsExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.mylyn.cheatsheet"
            name="Task-Focused UI">
      </category>
      <cheatsheet
            category="org.eclipse.mylyn.cheatsheet"
            contentFile="cheatsheets/Query.xml"
            id="org.eclipse.mylyn.cheatsheet.query"
            name="Create a query from bugs.eclipse.org">
         <description>
            Learn how to create a query from bugs.eclipse.org
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.mylyn.cheatsheet"
            contentFile="cheatsheets/TaskFocus.xml"
            id="org.eclipse.mylyn.cheatsheet.taskfocus"
            name="Use Task-Focused UI">
         <description>
            Learn how to use Task-Focused UI
         </description>
      </cheatsheet>
   </extension> 
  
</plugin>
