<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         id="org.eclipse.mylyn.helpDocs"
         name="Tasks"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true">
      </toc>
   </extension>
  
   <extension point="org.eclipse.ui.commands">
   <category
         id="org.eclipse.mylyn.help.ui.commands"
         name="Tasks Help">
   </category>
	  <command
         categoryId="org.eclipse.mylyn.help.ui.commands"
         description="Show Tasks UI Legend"
         id="org.eclipse.mylyn.doc.legend.show"
         name="Show Tasks UI Legend">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/whatsnewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorialsExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.mylyn.cheatsheet"
            name="Tasks">
      </category>
      <cheatsheet
            category="org.eclipse.mylyn.cheatsheet"
            contentFile="cheatsheets/Query.xml"
            id="org.eclipse.mylyn.cheatsheet.query"
            name="Create a task repository query">
         <description>
            Learn how to work with task and queries using the Task List
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.mylyn.cheatsheet"
            contentFile="cheatsheets/TaskFocus.xml"
            id="org.eclipse.mylyn.cheatsheet.taskfocus"
            name="Work with task context">
         <description>
            Learn how to activate tasks and use the Task-Focused UI
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.mylyn.tasks.ui.views.tasks.help.contribution"
            targetID="org.eclipse.mylyn.tasks.ui.views.tasks">
         <action
               class="org.eclipse.mylyn.internal.help.ui.actions.ShowMylynLegendAction"
               icon="icons/etool16/icons-legend.gif"
               id="org.eclipse.mylyn.doc.legend.show.action"
               label="Show UI Legend"
               menubarPath="additions"
               style="push"
               tooltip="Show UI Legend">
         </action>
      </viewContribution>
   </extension> 
  
</plugin>
