<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.mylyn.internal.builds.core.BuildPackage"
            uri="http://eclipse.org/mylyn/models/build">
      </package>
   </extension>
</plugin>
