*~
/*/org.eclipse*/bin
/*/*/target
/*/*/source-bundle/target
/tbr/org.eclipse.mylyn.reviews.tasks.dsl/.antlr-generator-3.0.1.jar
/tbr/org.eclipse.mylyn.reviews.tasks.dsl/src-gen
/tbr/org.eclipse.mylyn.reviews.tasks.dsl.ui
