<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?><!--
    Copyright (c) 2007, 2009 David Green and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        David Green - initial API and implementation
 -->

<plugin>
   <extension-point id="markupLanguage" name="Markup Language" schema="schema/markupLanguage.exsd"/>
   <extension-point id="markupValidationRule" name="Markup Validation Rule" schema="schema/markupValidationRule.exsd"/>

   <!-- The wikitext content type. MarkupLanguage-providing plugins are expected to subclass this content type
        for the purpose of associating the editor with the appropriate files -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="org.eclipse.mylyn.wikitext"
            name="%content-type.name.0"
            priority="normal">
      </content-type>
   </extension>   
</plugin>
