<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 

 	<extension point="org.eclipse.ui.preferencePages">
      <page 
         name="Resources"
         class="org.eclipse.mylyn.internal.resources.ui.preferences.FocusedResourcesPreferencePage"
         id="org.eclipse.mylyn.ide.preferences.resources"
         category="org.eclipse.mylyn.ui.preferences">
         <keywordReference id="org.eclipse.mylyn.ide.keywords"/>
      </page> 
   </extension>
   
   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="mylyn resources"
            id="org.eclipse.mylyn.ide.keywords"/>
   </extension>
 

    <extension point="org.eclipse.ui.viewActions"> 
	  <viewContribution 
		id="org.eclipse.mylyn.ui.projectexplorer.filter" 
   		targetID="org.eclipse.ui.navigator.ProjectExplorer">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProjectExplorerAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ui.actions.FilterResourceNavigatorAction"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)">
        <enablement>
           <systemProperty
                 name="org.eclipse.mylyn.context.core.context.active"
                 value="true">
           </systemProperty>
        </enablement> 
  		</action> 
      </viewContribution> 
      
	  <viewContribution 
		id="org.eclipse.mylyn.ui.resource.navigator.filter" 
   		targetID="org.eclipse.ui.views.ResourceNavigator">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusResourceNavigatorAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ui.actions.FilterResourceNavigatorAction"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)">
        <enablement>
           <systemProperty
                 name="org.eclipse.mylyn.context.core.context.active"
                 value="true">
           </systemProperty>
        </enablement> 
  		</action> 
      </viewContribution> 
      <viewContribution 
		id="org.eclipse.mylyn.problems.contribution" 
   		targetID="org.eclipse.ui.views.ProblemView">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProblemsListAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.view.markers"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task">
  		</action>  
      </viewContribution> 
	  <viewContribution 
		id="org.eclipse.mylyn.markers.tasks.contribution" 
   		targetID="org.eclipse.ui.views.TaskList">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusTaskMarkersViewAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.view.markers"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task">
  		</action>  
      </viewContribution> 
    </extension>

</plugin>
