<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin> 
   
   	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
	        class="org.eclipse.mylyn.internal.ide.xml.ant.AntStructureBridge"
	        name="Ant Structure Bridge"
	        parentContentType="*"/>
		<structureBridge
	        class="org.eclipse.mylyn.internal.ide.xml.pde.PdeStructureBridge"
	        name="PDE Structure Bridge"
	        parentContentType="*"/>
	</extension>

   <extension point="org.eclipse.mylyn.context.ui.bridges">
    <uiBridge
          class="org.eclipse.mylyn.internal.ide.xml.pde.PdeUiBridge"
          contentType="plugin.xml"
          activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	      activeSearchLabel="XML Search"/>
    <labelProvider
          class="org.eclipse.mylyn.internal.ide.xml.pde.PdeContextLabelProvider"
          contentType="plugin.xml"/>
    <uiBridge
          class="org.eclipse.mylyn.internal.ide.xml.ant.AntUiBridge"
          contentType="build.xml"
          activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	      activeSearchLabel="XML Search"/>
    <labelProvider
          class="org.eclipse.mylyn.internal.ide.xml.ant.AntContextLabelProvider"
          contentType="build.xml"/>
  </extension>
  
 	<extension point="org.eclipse.ui.preferencePages">
      <page 
         name="Resources"
         class="org.eclipse.mylyn.internal.resources.ui.preferences.MylarResourcesPreferencePage"
         id="org.eclipse.mylyn.ide.preferences.resources"
         category="org.eclipse.mylyn.ui.preferences">
         <keywordReference id="org.eclipse.mylyn.ide.keywords"/>
      </page> 
   </extension>
   
   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="mylar resources"
            id="org.eclipse.mylyn.ide.keywords"/>
   </extension>
 

    <extension point="org.eclipse.ui.viewActions"> 
	  <viewContribution 
		id="org.eclipse.mylyn.ui.projectexplorer.filter" 
   		targetID="org.eclipse.ui.navigator.ProjectExplorer">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProjectExplorerAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylyn.ui.actions.FilterResourceNavigatorAction"
           label="Focus on Active Task"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)"> 
  		</action> 
      </viewContribution> 
      
	  <viewContribution 
		id="org.eclipse.mylyn.ui.resource.navigator.filter" 
   		targetID="org.eclipse.ui.views.ResourceNavigator">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusResourceNavigatorAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylyn.ui.actions.FilterResourceNavigatorAction"
           label="Focus on Active Task"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)"> 
  		</action> 
      </viewContribution> 
      <viewContribution 
		id="org.eclipse.mylyn.problems.contribution" 
   		targetID="org.eclipse.ui.views.ProblemView">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProblemsListAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylyn.ui.actions.ApplyMylarToProblemsListAction"
           label="Focus on Active Task"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task"> 
  		</action>  
      </viewContribution> 
	  <viewContribution 
		id="org.eclipse.mylyn.markers.tasks.contribution" 
   		targetID="org.eclipse.ui.views.TaskList">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusTaskMarkersViewAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylyn.ui.actions.ApplyMylarToProblemsListAction"
           label="Focus on Active Task"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task"> 
  		</action>  
      </viewContribution> 
    </extension>
    
    
    <extension point="org.eclipse.ui.popupMenus">
        <viewerContribution
		    id="org.eclipse.mylyn.tasklist.ui.objectContribution"
            targetID="org.eclipse.pde.runtime.LogView">
      	<action
	      	class="org.eclipse.mylyn.internal.ide.ui.actions.NewTaskFromErrorAction"
	        icon="icons/etool16/task-repository-new.gif"
	        id="org.eclipse.mylyn.tasklist.actions.newTaskFromErrorLog"
	        label="Report as Bug"
	        menubarPath="org.eclipse.pde.runtime.LogView"/>
      </viewerContribution>
   </extension>
    
    <!--
    <extension
         id="org.eclipse.mylyn.helpDocs"
         name="Mylar Help"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="false">
      </toc>
   </extension>
   -->
</plugin>
