<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 

    <extension point="org.eclipse.ui.viewActions"> 
	  <viewContribution 
		id="org.eclipse.mylyn.ui.projectexplorer.filter" 
   		targetID="org.eclipse.ui.navigator.ProjectExplorer">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProjectExplorerAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.projectExplorer"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)">
        <enablement>
           <systemProperty
                 name="org.eclipse.mylyn.context.core.context.active"
                 value="true">
           </systemProperty>
        </enablement> 
  		</action> 
      </viewContribution> 
      
	  <viewContribution 
		id="org.eclipse.mylyn.ui.resource.navigator.filter" 
   		targetID="org.eclipse.ui.views.ResourceNavigator">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusResourceNavigatorAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.resourceNavigator"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)">
        <enablement>
           <systemProperty
                 name="org.eclipse.mylyn.context.core.context.active"
                 value="true">
           </systemProperty>
        </enablement> 
  		</action> 
      </viewContribution> 
      <viewContribution 
		id="org.eclipse.mylyn.problems.contribution" 
   		targetID="org.eclipse.ui.views.ProblemView">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusProblemsListAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.markers.problems"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task">
  		</action>  
      </viewContribution> 

      <viewContribution 
		id="org.eclipse.mylyn.markers.all.contribution" 
   		targetID="org.eclipse.ui.views.AllMarkersView">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusAllMarkersViewAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.markers.all"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task">
  		</action>  
      </viewContribution>
      
	  <viewContribution 
		id="org.eclipse.mylyn.markers.tasks.contribution" 
   		targetID="org.eclipse.ui.views.TaskList">
    	<action
           class="org.eclipse.mylyn.internal.ide.ui.actions.FocusTaskMarkersViewAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.mylyn.ide.ui.actions.focus.markers.tasks"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task">
  		</action>  
      </viewContribution>
   <viewContribution
         id="org.eclipse.mylyn.markers.bookmarks.contribution"
         targetID="org.eclipse.ui.views.BookmarkView">
      <action
            class="org.eclipse.mylyn.internal.ide.ui.actions.FocusBookmarkMarkersViewAction"
            disabledIcon="icons/elcl16/focus-disabled.gif"
            enablesFor="*"
            icon="icons/elcl16/focus.gif"
            id="org.eclipse.mylyn.ide.ui.actions.focus.markers.bookmarks"
            label="Focus on Active Task"
            menubarPath="mylyn"
            style="toggle"
            toolbarPath="mylyn"
            tooltip="Focus on Active Task">
      </action>
   </viewContribution> 
    </extension>
    <extension
          point="org.eclipse.mylyn.context.ui.startup">
       <startup
             class="org.eclipse.mylyn.internal.ide.ui.IdeUiBridgePlugin$IdeUiBridgeStartup">
       </startup>
    </extension>

</plugin>
