<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 

   	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
	        class="org.eclipse.mylyn.internal.ide.ant.AntStructureBridge"
	        name="Ant Structure Bridge"
	        parentContentType="resource"/>
	</extension>
	
	<extension point="org.eclipse.mylyn.context.ui.bridges">
    	<uiBridge
          class="org.eclipse.mylyn.internal.ide.ant.AntUiBridge"
          contentType="build.xml"
          activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	      activeSearchLabel="XML Search"/>
  	</extension>

</plugin>
