<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?><!--
    Copyright (c) 2007, 2009 David Green and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        David Green - initial API and implementation
 -->

<plugin>

	<extension point="org.eclipse.mylyn.wikitext.core.markupLanguage">
		<language class="org.eclipse.mylyn.wikitext.textile.core.TextileLanguage"
			name="Textile" fileExtensions="textile">
		</language>
		<language class="org.eclipse.mylyn.wikitext.textile.core.BugzillaTextileLanguage"
			name="Textile Bugzilla Dialect"
			extends="Textile">
		</language>
	</extension>
	
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.mylyn.wikitext"
            file-extensions="textile"
            id="org.eclipse.mylyn.wikitext.textile"
            name="%content-type.name.0"
            priority="normal">
      </content-type>
   </extension>
   
	<extension
	   point="org.eclipse.team.core.fileTypes">
		<fileTypes
		      extension="textile"
		      type="text">
		</fileTypes>
	</extension>
	
	<extension point="org.eclipse.mylyn.wikitext.core.markupValidationRule">
		<rule markupLanguage="Textile"
			class="org.eclipse.mylyn.internal.wikitext.textile.core.validation.BlockWhitespaceRule" />
		<rule markupLanguage="Textile"
			class="org.eclipse.mylyn.internal.wikitext.textile.core.validation.TextileReferenceValidationRule" />
	</extension>
	
</plugin>
