<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.wikitext.core.markupLanguage">
      <language
            class="org.eclipse.mylyn.wikitext.commonmark.CommonMarkLanguage"
            fileExtensions="cm, md, markdown"
            name="CommonMark">
      </language>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.mylyn.wikitext"
            default-charset="utf-8"
            file-extensions="cm,md,markdown"
            id="org.eclipse.mylyn.wikitext.commonmark"
            name="CommonMark"
            priority="normal">
      </content-type>
   </extension>
   
	<extension
	   point="org.eclipse.team.core.fileTypes">
		<fileTypes
		      extension="md"
		      type="text"/>
	  <fileTypes
	        extension="markdown"
	        type="text"/>
	  <fileTypes
	        extension="cm"
	        type="text"/>
	</extension>
</plugin>
