<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.mylyn.versions.tasks.ui.changesetmapping" name="Task changeset mapping provider" schema="schema/org.eclipse.mylyn.versions.tasks.changesetmapping.exsd"/>
   <extension-point id="org.eclipse.mylyn.versions.tasks.ui.actionContributions" name="Version-Tasks Part Action Contributions" schema="schema/org.eclipse.mylyn.versions.tasks.ui.actionContributions.exsd"/>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.versions.tasks.ui.ChangeSetPageFactory"
            id="org.eclipse.mylyn.versions.tasks.pageFactory1">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.mylyn.versions.tasks.ui.openCommitContribution"
            objectClass="org.eclipse.mylyn.versions.tasks.core.TaskChangeSet">
         <action
               class="org.eclipse.mylyn.versions.tasks.ui.OpenCommitAction"
               id="org.eclipse.mylyn.versions.tasks.ui.action1"
               label="Open">
         </action>
      </objectContribution>
   </extension>

</plugin>
