<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2009, 2023 Tasktop Technologies and others.
 
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0
 
    SPDX-License-Identifier: EPL-2.0

    Contributors:
         Tasktop Technologies - initial API and implementation
         ArSysOp - ongoing support
 -->

<plugin>
	<extension point="org.eclipse.mylyn.tasks.core.templates">
 		<repository
         addAutomatically="true"
         anonymous="true"
         characterEncoding="UTF-8"
         label="Eclipse.org"
         repositoryKind="bugzilla"
         urlRepository="https://bugs.eclipse.org/bugs"
         version="3.6">
         <attribute name="useclassification" value="false"/>
         <attribute name="usetargetmilestone" value="true"/>
         <attribute name="useqacontact" value="true"/>
         <attribute name="usestatuswhiteboard" value="true"/>
         <attribute name="usebugaliases" value="false"/>
         <attribute name="use_see_also" value="true"/>
         <attribute name="useXMLRPC" value="false"/>
        </repository>
	</extension>
	<extension point="org.eclipse.mylyn.tasks.bugs.support">
		<!-- Eclipse -->
		<mapping namespace="org.eclipse">
			<repository kind="bugzilla" url="https://bugs.eclipse.org/bugs">
			</repository>
		</mapping>
		<!-- EGit -->
		<product featureId="org.eclipse.egit" id="org.eclipse.egit"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.jgit" productId="org.eclipse.egit">
			<property name="product" value="JGit"/>
		</mapping>
		<mapping namespace="org.eclipse.egit" productId="org.eclipse.egit">
			<property name="product" value="EGit"/>
		</mapping>
		<!-- JDT -->
		<product featureId="org.eclipse.jdt" id="org.eclipse.jdt"
			versionPluginId="org.eclipse.platform"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.jdt" productId="org.eclipse.jdt">
			<property name="product" value="JDT">
			</property>
		</mapping>
		<!-- EPP -->
		<!--
		<product id="org.eclipse.epp.package.java" providerId="org.eclipse" featureId="org.eclipse.epp.package.java.feature" />
		<mapping namespace="org.eclipse.epp.package.java" productId="org.eclipse.epp.package.java">
			<property name="product" value="EPP"/>
			<property name="component" value="java-package"/>
		</mapping>
		<product id="org.eclipse.epp.usagedata" providerId="org.eclipse" featureId="org.eclipse.epp.usagedata.feature" />
		<mapping namespace="org.eclipse.epp.package.java" productId="org.eclipse.epp.package.java">
			<property name="product" value="EPP"/>
			<property name="component" value="Usage Data Collector"/>
		</mapping>
		-->
		<!-- Webtools -->
		<product id="org.eclipse.wst.xml_ui" providerId="org.eclipse" featureId="org.eclipse.wst.xml_ui.feature" />
		<mapping namespace="org.eclipse.wst" productId="org.eclipse.wst.xml_ui">
			<property name="product" value="Web Tools"/>
			<property name="component" value="Web Standard Tools"/>
		</mapping>
	</extension>
</plugin>
