<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.mylyn.wikitext.ui.contentAssist">
      <templates markupLanguage="Markdown">

         <template name="# " description="%template.description.h1" content="\n# ${text}\n\n" block="true"/>
         <template name="## " description="%template.description.h2" content="\n## ${text}\n\n" block="true"/>
         <template name="### " description="%template.description.h3" content="\n### ${text}\n\n" block="true"/>
         <template name="#### " description="%template.description.h4" content="\n#### ${text}\n\n" block="true"/>
         <template name="##### " description="%template.description.h5" content="\n##### ${text}\n\n" block="true"/>
         <template name="###### " description="%template.description.h6" content="\n###### ${text}\n\n" block="true"/>

		<template name="link"	description="Link - [Text](http://www.example.com &quot;Optional title&quot;)" content="[${text}](${text} &quot;${title}&quot;) $"/>
		<template name="link (simple)" description="Link - &lt;http://www.example.com&gt;" content="&lt;${text}&gt; $"/>
		<template name="!image" description="Image - ![Alt text](path/to/image.png &quot;Optional title&quot;)" content="![${altText}](${text}.png &quot;${title}&quot;) $"/>
		<template name="\n" description="Line break (end of line)" content="^  \n"/>
		<template name="\t" description="Code block (indented with tab)" content="\n\t${text}\n"/>

		<template name="`inline code`" description="A span of code inline" content="`${text}` $"/>
		<template name="**strong**" description="strong" content="**${text}** $"/>
		<template name="_emphasis_" description="emphasis" content="_${text}_ $"/>


		<template name="(c)" description="Copyright symbol" content="&amp;copy; $"/>
		<template name="(tm)" description="Trademark symbol" content="&amp;trade; $"/>
		<template name="&lt;hr/&gt;" description="Horizontal rule" content="\n------------------------------------------------------------\n\n"/>
      </templates>
   </extension>
   <extension
         point="org.eclipse.mylyn.wikitext.ui.cheatSheet">
      <content
            markupLanguage="Markdown"
            contentLanguage="Markdown"
            resource="help/cheatSheet/Markdown.md">
      </content>
   </extension>
</plugin>
