<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
			<!--
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="org.eclipse.mylyn.reviews.ui.popupMenu.AddCommentMenu" objectClass="org.eclipse.ui.IEditorInput">
			<action class="org.eclipse.mylyn.internal.reviews.ui.actions.AddLineCommentToFileAction" 
				enablesFor="1" id="org.eclipse.mylyn.reviews.ui.action.AddLineComment" 
				label="Comment on Selected Lines..." menubarPath="group.undo" tooltip="Add Line Comment to Active Review">
			</action>
			<action class="com.atlassian.connector.eclipse.internal.crucible.ui.actions.AddGeneralCommentToFileAction" 
				enablesFor="1" id="com.atlassian.connector.eclipse.crucible.ui.action.add.file.comment" 
				label="Add General File Comment..." menubarPath="group.undo" tooltip="Add Comment to Active Review">
			</action>
			<visibility>
				<systemProperty name="org.eclipse.mylyn.reviews.ui.review.Active" value="true"/>
			</visibility>
		</objectContribution>		
	</extension>
			-->
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.eclipse.mylyn.reviews.ui.comment.Annotation"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="org.eclipse.mylyn.reviews.ui.comment.Annotation" 
			colorPreferenceKey="comment_color" 
			colorPreferenceValue="179,215,255" 
			contributesToHeader="false" 
			highlightPreferenceKey="comment_highlight" 
			highlightPreferenceValue="true" 
			icon="icons/eview16/annotation-review.gif" 
			includeOnPreferencePage="true" 
			isGoToNextNavigationTarget="false" 
			isGoToNextNavigationTargetKey="comment_isGoToNextNavigationTargetKey" 
			isGoToPreviousNavigationTarget="false" 
			isGoToPreviousNavigationTargetKey="commet_isGoToPreviousNavigationTargetKey" 
			label="Active Review Comments" 
			overviewRulerPreferenceKey="comment_overviewRuler" 
			overviewRulerPreferenceValue="true" 
			presentationLayer="0" 
			showInNextPrevDropdownToolbarAction="false" 
			showInNextPrevDropdownToolbarActionKey="comment_showInNextPrevDropdownToolbarAction" 
			textPreferenceKey="comment_text" 
			textPreferenceValue="true" 
			textStylePreferenceKey="comment_stylePreferences" 
			textStylePreferenceValue="BOX" 
			verticalRulerPreferenceKey="comment_verticalRuler" 
			verticalRulerPreferenceValue="true" />
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="org.eclipse.mylyn.ui"
          class="org.eclipse.mylyn.internal.reviews.ui.views.ReviewExplorer"
          icon="icons/obj16/review.png"
          id="org.eclipse.mylyn.reviews.Explorer"
          name="Review">
       <description>
          View artifacts and comments associated with reviews.
       </description>
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="org.eclipse.mylyn.reviews.Explorer">
       <includes>
          <actionExtension
                pattern="org.eclipse.mylyn.reviews.ui.actions">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <viewerContentBinding
          viewerId="org.eclipse.mylyn.reviews.Explorer">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="org.eclipse.mylyn.reviews.ui.ReviewContent">
          </contentExtension>
          <contentExtension
                isRoot="true"
                pattern="org.eclipse.mylyn.reviews.ui.ReviewFlatContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.mylyn.reviews.ui.CommonFilter">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewer
          viewerId="org.eclipse.mylyn.reviews.Explorer">
    </viewer>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsTreeContentProvider"
          id="org.eclipse.mylyn.reviews.ui.ReviewContent"
          labelProvider="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsLabelProvider$Tree"
          name="Review Artifacts and Comments">
       <triggerPoints>
          <instanceof
                value="org.eclipse.mylyn.reviews.ui.spi.editor.AbstractReviewTaskEditorPage">
          </instanceof>
       </triggerPoints>
       <commonSorter
             class="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsSorter"
             id="sorter.orderable">
       </commonSorter>
    </navigatorContent>
    <navigatorContent
          contentProvider="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsFlatContentProvider"
          id="org.eclipse.mylyn.reviews.ui.ReviewFlatContent"
          labelProvider="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsLabelProvider$Flat"
          name="Review Comments">
       <triggerPoints>
          <instanceof
                value="org.eclipse.mylyn.reviews.ui.spi.editor.AbstractReviewTaskEditorPage">
          </instanceof>
       </triggerPoints>
       <commonSorter
             class="org.eclipse.mylyn.internal.reviews.ui.providers.ReviewsSorter"
             id="sorter.orderable">
       </commonSorter>
    </navigatorContent>
    <commonFilter
          activeByDefault="false"
          class="org.eclipse.mylyn.internal.reviews.ui.providers.NonCommentFilter"
          description="Hides all artifacts and containers that do not contain comments as well as machine generated comments."
          id="org.eclipse.mylyn.reviews.ui.CommonFilter"
          name="Artifacts without Comments"
          visibleInUI="true">
    </commonFilter>
 </extension>

	<!--
	<extension point="org.eclipse.ui.workbench.texteditor.rulerColumns">
		<column id="org.eclipse.mylyn.reviews.ui.editor.AnnotationRuler" name="Review Comments"
			class="org.eclipse.mylyn.internal.reviews.ui.editors.ruler.CommentAnnotationRulerColumn"
			enabled="true"
			global="true"
			includeInMenu="true">
			
			<placement gravity="1.0">
				<after id="org.eclipse.ui.editors.columns.annotations"/>
			</placement>
			
			<targetClass class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor" />
		</column>
	</extension>   
	-->
	
</plugin>
