<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.eclipse.mylyn.trac.repository"
         name="%repository.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.trac.core.TracRepositoryConnector"
            id="trac"
            name="%TracRepositoryConnector.name"/>
      <connectorUi
            brandingIcon="icons/eview16/trac-icon.gif"
            class="org.eclipse.mylyn.internal.trac.ui.TracConnectorUi"
            id="trac"
            name="%TracConnectorUi.name"
            overlayIcon="icons/eview16/overlay-trac.gif"/>
      <taskListMigrator
            class="org.eclipse.mylyn.internal.trac.ui.TracTaskListMigrator">
      </taskListMigrator>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="false"
            anonymous="true"
            label="Edgewall"
            repositoryKind="trac"
            urlRepository="http://trac.edgewall.org"
            version="TRAC_0_9"/>
   </extension> 
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.trac.ui.editor.TracTaskEditorPageFactory"
            id="org.eclipse.mylyn.trac.ui.pageFactory">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector            
            class="org.eclipse.mylyn.internal.trac.ui.TracHyperlinkDetector"
            id="org.eclipse.mylyn.trac.ui.hyperlinksDetectors.Trac"
            name="%TracHyperlinkDetector.name"
            targetId="org.eclipse.mylyn.tasks.ui.TaskEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
