<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylyn.jira.repository"
         name="JIRA Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylyn.tasks.tests.connector.MockRepositoryConnector"
            id="org.eclipse.mylyn.tasks.tests.repositories"
            name="Mock Repository Client"
            type="mock"/>
      
      <taskListFactory 
            class="org.eclipse.mylyn.tasks.tests.connector.MockTaskListFactory"
            id="org.eclipse.mylyn.tasks.tests.factory"/>
      <connectorUi
            class="org.eclipse.mylyn.tasks.tests.connector.MockRepositoryConnectorUi"
            customNotifications="false"
            id="org.eclipse.mylyn.tasks.tests.repositories.ui"
            name="Mock Repository Connector UI">
      </connectorUi>
   </extension>  
   
</plugin>
