<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylar.jira.repository"
         name="JIRA Repository"
         point="org.eclipse.mylar.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylar.tasks.tests.connector.MockRepositoryConnector"
            id="org.eclipse.mylar.tasklist.tests.repositories"
            name="Mock Repository Client"
            type="mock"/>
      <externalizer 
            class="org.eclipse.mylar.tasks.tests.connector.MockRepositoryExternalizer"
            id="org.eclipse.mylar.tasklist.tests.externalizer"/>
   </extension>  
   
</plugin>
