<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.mylyn.versions.tasks.mapper.generic"
         name="Generic Implementation"
         point="org.eclipse.mylyn.versions.tasks.ui.changesetmapping">
      <changesetMapper
            class="org.eclipse.mylyn.versions.tasks.mapper.generic.GenericTaskChangesetMapper">
      </changesetMapper>
   </extension>

</plugin>
