<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.eclipse.cdt.mylyn.internal.ui.CDTStructureBridge"
            name="CDT Structure Bridge"
            parentContentType="resource">
      </structureBridge>
   </extension>
   <extension
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.eclipse.cdt.mylyn.internal.ui.CDTUiBridge"
            contentType="c/c++">
      </uiBridge>
      <labelProvider
            class="org.eclipse.cdt.mylyn.internal.ui.CDTContextLabelProvider"
            contentType="c/c++">
      </labelProvider>
      <preservedFilters
            viewId="org.eclipse.cdt.ui.CView">
         <filter
               class="org.eclipse.cdt.mylyn.internal.ui.CDTDeclarationsFilter">
         </filter>
      </preservedFilters>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.cdt.mylyn.ui.cview.contribution"
            targetID="org.eclipse.cdt.ui.CView">
         <action
               class="org.eclipse.cdt.mylyn.internal.ui.actions.FocusCViewAction"
               disabledIcon="icons/elcl16/focus-disabled.gif"
               enablesFor="*"
               icon="icons/elcl16/focus.gif"
               id="org.eclipse.cdt.mylyn.ui.cview.focusActiveTask.action"
               label="%FocusActiveTask.label"
               menubarPath="mylyn"
               style="toggle"
               toolbarPath="mylyn"
               tooltip="%FocusActiveTask.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.cdt.mylyn.ui.interest.increase.contribution"
            objectClass="org.eclipse.cdt.core.model.ICElement">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
               definitionId="org.eclipse.mylyn.context.ui.commands.interest.increment"
               enablesFor="*"
               icon="icons/elcl16/interest-increase.gif"
               id="org.eclipse.cdt.mylyn.ui.markAsLandmark.action"
               label="%MarkLandmark.label"
               menubarPath="group.reorganize"
               tooltip="%MarkLandmark.tooltip">
         </action>
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.mylyn.context.core.context.active"
                     value="true">
               </systemProperty>
               <or>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IFunction">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IMethod">
                  </objectClass>
               </or>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.cdt.mylyn.ui.interest.remove.contribution.elements"
            objectClass="org.eclipse.cdt.core.model.ICElement">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
               definitionId="org.eclipse.mylyn.context.ui.commands.interest.decrement"
               enablesFor="*"
               icon="icons/elcl16/interest-decrease.gif"
               id="org.eclipse.mylyn.cdt.ui.interest.decrease.element"
               label="%RemoveFromContext.label"
               menubarPath="group.reorganize"
               tooltip="%RemoveFromContext.tooltip">
         </action>
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.mylyn.context.core.context.active"
                     value="true">
               </systemProperty>
               <or>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IMethod">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IFunction">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IStructureDeclaration">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IDeclaration">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IUsing">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.ITypeDef">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IMacro">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.INamespace">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IInclude">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IIncludeReference">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IEnumerator">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.mylyn.ui.Object10">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IContributedCElement">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IBinaryElement">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.cdt.core.model.IBinary">
                  </objectClass>
               </or>
            </and>
         </visibility>
      </objectContribution>
      <viewerContribution
            id="org.eclipse.cdt.mylyn.ui.browse.filtered.contribution"
            targetID="org.eclipse.cdt.ui.CView">
         <action
               class="org.eclipse.cdt.mylyn.internal.ui.actions.ShowFilteredChildrenAction"
               enablesFor="1"
               icon="icons/etool16/browse-filtered.gif"
               id="org.eclipse.mylyn.cdt.ui.action3"
               label="%ShowFilteredChildren.label"
               menubarPath="group.reorganize"
               tooltip="%ShowFilteredChildren.tooltip">
         </action>
         <visibility>
            <systemProperty
                  name="org.eclipse.mylyn.context.core.context.active"
                  value="true">
            </systemProperty>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.context.ui.navigator.context">
         <includes>
            <contentExtension
                  pattern="org.eclipse.cdt.ui.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.context.ui.navigator.context.quick">
         <includes>
            <contentExtension
                  pattern="org.eclipse.cdt.ui.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
