<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Mylyn Reviews Target" sequenceNumber="94">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/updates-1.3"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gerrit.common" version="0.0.0"/>
<unit id="com.google.gerrit.common.source" version="0.0.0"/>
<unit id="com.google.gerrit.prettify" version="0.0.0"/>
<unit id="com.google.gerrit.prettify.source" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb.source" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.hamcrest.integration.source" version="0.0.0"/>
<unit id="org.hamcrest.generator" version="0.0.0"/>
<unit id="org.hamcrest.generator.source" version="0.0.0"/>
<unit id="org.hamcrest.integration" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.text" version="0.0.0"/>
<unit id="org.hamcrest.text.source" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.mockito.source" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.test_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/snapshots/nightly/tasks/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/snapshots/nightly/commons/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/mylyn/snapshots/nightly/context/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/mylyn/snapshots/nightly/reviews/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wb.swt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
</locations>
</target>
