<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
			<!--
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="org.eclipse.mylyn.reviews.ui.popupMenu.AddCommentMenu" objectClass="org.eclipse.ui.IEditorInput">
			<action class="org.eclipse.mylyn.internal.reviews.ui.actions.AddLineCommentToFileAction" 
				enablesFor="1" id="org.eclipse.mylyn.reviews.ui.action.AddLineComment" 
				label="Comment on Selected Lines..." menubarPath="group.undo" tooltip="Add Line Comment to Active Review">
			</action>
			<action class="com.atlassian.connector.eclipse.internal.crucible.ui.actions.AddGeneralCommentToFileAction" 
				enablesFor="1" id="com.atlassian.connector.eclipse.crucible.ui.action.add.file.comment" 
				label="Add General File Comment..." menubarPath="group.undo" tooltip="Add Comment to Active Review">
			</action>
			<visibility>
				<systemProperty name="org.eclipse.mylyn.reviews.ui.review.Active" value="true"/>
			</visibility>
		</objectContribution>		
	</extension>
			-->
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.eclipse.mylyn.reviews.ui.comment.Annotation"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="org.eclipse.mylyn.reviews.ui.comment.Annotation" 
			colorPreferenceKey="comment_color" 
			colorPreferenceValue="179,215,255" 
			contributesToHeader="false" 
			highlightPreferenceKey="comment_highlight" 
			highlightPreferenceValue="true" 
			icon="icons/eview16/annotation-review.gif" 
			includeOnPreferencePage="true" 
			isGoToNextNavigationTarget="false" 
			isGoToNextNavigationTargetKey="comment_isGoToNextNavigationTargetKey" 
			isGoToPreviousNavigationTarget="false" 
			isGoToPreviousNavigationTargetKey="commet_isGoToPreviousNavigationTargetKey" 
			label="Active Review Comments" 
			overviewRulerPreferenceKey="comment_overviewRuler" 
			overviewRulerPreferenceValue="true" 
			presentationLayer="0" 
			showInNextPrevDropdownToolbarAction="false" 
			showInNextPrevDropdownToolbarActionKey="comment_showInNextPrevDropdownToolbarAction" 
			textPreferenceKey="comment_text" 
			textPreferenceValue="true" 
			textStylePreferenceKey="comment_stylePreferences" 
			textStylePreferenceValue="BOX" 
			verticalRulerPreferenceKey="comment_verticalRuler" 
			verticalRulerPreferenceValue="true" />
	</extension>

	<extension point="org.eclipse.ui.workbench.texteditor.rulerColumns">
		<column id="org.eclipse.mylyn.reviews.ui.editor.AnnotationRuler" name="Review Comments"
			class="org.eclipse.mylyn.internal.reviews.ui.editors.ruler.CommentAnnotationRulerColumn"
			enabled="true"
			global="true"
			includeInMenu="true">
			
			<placement gravity="1.0">
				<!--<after id="org.eclipse.ui.editors.columns.annotations"/> -->
			</placement>
			
			<targetClass class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor" />
		</column>
	</extension>   

</plugin>
