<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2007, 2009 David Green and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        David Green - initial API and implementation
 -->
<plugin>
	<extension-point id="cheatSheet" name="Markup Language Cheat Seet"
		schema="schema/cheatSheet.exsd" />
	<extension-point id="contentAssist" name="Markup Language Content Assist"
		schema="schema/contentAssist.exsd" />
		
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.eclipse.mylyn.wikitext.ui.annotation.id">
		</type>
		<type name="org.eclipse.mylyn.wikitext.ui.annotation.anchor">
		</type>
		<type name="org.eclipse.mylyn.wikitext.ui.annotation.anchorName">
		</type>
		<type name="org.eclipse.mylyn.wikitext.ui.annotation.title">
		</type>
		<type name="org.eclipse.mylyn.wikitext.ui.annotation.class">
		</type>
		<type name="org.eclipse.mylyn.internal.wikitext.ui.viewer.annotation.bullet"/>
	</extension>
	
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.eclipse.mylyn.internal.wikitext.ui.util.FilePropertyTester"
			id="org.eclipse.mylyn.wikitext.ui.filePropertyTester" namespace="org.eclipse.mylyn.wikitext"
			properties="contentTypeClassification" type="org.eclipse.core.resources.IFile">
		</propertyTester>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu label="%menu.label.0" tooltip="%menu.tooltip.0">
				<command commandId="org.eclipse.mylyn.wikitext.ui.convertToDocbookCommand"
					label="%command.label.0" tooltip="%command.tooltip.0" helpContextId="org.eclipse.mylyn.wikitext.help.ui.markupConversion">
				</command>
				<command commandId="org.eclipse.mylyn.wikitext.ui.convertToHtmlCommand"
					label="%command.label.1" tooltip="%command.tooltip.1" helpContextId="org.eclipse.mylyn.wikitext.help.ui.markupConversion">
				</command>
				<command commandId="org.eclipse.mylyn.wikitext.ui.convertToEclipseHelpCommand"
					label="%command.label.2" tooltip="%command.tooltip.2" helpContextId="org.eclipse.mylyn.wikitext.help.ui.markupConversion">
				</command>
				<visibleWhen>
					<with variable="activeMenuSelection">
						<and>
							<count value="+"/>
							<iterate>
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.mylyn.wikitext.contentTypeClassification"
										value="org.eclipse.mylyn.wikitext" />
								</adapt>
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			defaultHandler="org.eclipse.mylyn.wikitext.ui.commands.ConvertMarkupToDocbook"
			id="org.eclipse.mylyn.wikitext.ui.convertToDocbookCommand" name="%command.name.0">
		</command>
		<command defaultHandler="org.eclipse.mylyn.wikitext.ui.commands.ConvertMarkupToHtml"
			id="org.eclipse.mylyn.wikitext.ui.convertToHtmlCommand" name="%command.name.1" />
		<command
			defaultHandler="org.eclipse.mylyn.wikitext.ui.commands.ConvertMarkupToEclipseHelp"
			id="org.eclipse.mylyn.wikitext.ui.convertToEclipseHelpCommand" name="%command.name.2" />
		<command id="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand"
			name="%command.name.3" />
				
	      <command
	            categoryId="org.eclipse.ui.category.navigate"
	            description="%command.description.5"
	            id="org.eclipse.mylyn.wikitext.ui.quickOutlineCommand"
	            name="%command.name.5"/>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand"
			class="org.eclipse.mylyn.internal.wikitext.ui.editor.commands.ShowCheatSheetCommand">
			<activeWhen>
				<with variable="activeFocusControlId">
					<equals value="org.eclipse.mylyn.wikitext.ui.editor.sourceViewer"/>
				</with>
			</activeWhen>
		</handler>
		<handler commandId="org.eclipse.mylyn.wikitext.ui.quickOutlineCommand"
			class="org.eclipse.mylyn.internal.wikitext.ui.editor.commands.ShowQuickOutlineCommand">
			<activeWhen>
				<with variable="activeFocusControlId">
					<equals value="org.eclipse.mylyn.wikitext.ui.editor.sourceViewer"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.mylyn.internal.wikitext.ui.editor.MarkupEditor"
			contributorClass="org.eclipse.mylyn.internal.wikitext.ui.editor.MarkupEditorActionBarContributor"
			default="true" icon="icons/editor-icon.gif"
			id="org.eclipse.mylyn.wikitext.ui.editor.markupEditor" name="%editor.name.0">
			<contentTypeBinding contentTypeId="org.eclipse.mylyn.wikitext"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context description="%context.description.0"
			id="org.eclipse.mylyn.wikitext.ui.editor.markupSourceContext" name="%context.name.0"
			parentId="org.eclipse.ui.textEditorScope">
		</context>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
         <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
		<key sequence="F1"
			contextId="org.eclipse.mylyn.wikitext.ui.editor.markupSourceContext"
			commandId="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key
            sequence="M1+O"
            contextId="org.eclipse.mylyn.wikitext.ui.editor.markupSourceContext"
            commandId="org.eclipse.mylyn.wikitext.ui.quickOutlineCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      	</key>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<category description="%category.description.0"
			id="org.eclipse.mylyn.wikitext.ui.editor.category" name="%category.name.0">
		</category>
		<command categoryId="org.eclipse.mylyn.wikitext.ui.editor.category"
			description="%command.description.0"
			id="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand" name="%command.name.4">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.mylyn.internal.wikitext.ui.editor.MarkupEditor.ruler"
			id="org.eclipse.mylyn.internal.wikitext.ui.editor.MarkupEditor.ruler">
			<menu id="folding" label="%folding.label" path="rulers"/>
			<action label="%empty.label" tooltip="%empty.label"
				class="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.ToggleFoldingRulerAction"
				menubarPath="folding/additions" definitionId="org.eclipse.ui.edit.text.folding.toggle"
				id="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.folding.toggle">
			</action>
			<action label="%empty.label" tooltip="%empty.label"
				class="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.ExpandAllFoldingRulerAction"
				menubarPath="folding/additions" definitionId="org.eclipse.ui.edit.text.folding.expand_all"
				id="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.expandAll">
			</action>
			<action label="%empty.label" tooltip="%empty.label"
				class="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.CollapseAllFoldingRulerAction"
				menubarPath="folding/additions" definitionId="org.eclipse.ui.edit.text.folding.collapse_all"
				id="org.eclipse.mylyn.internal.wikitext.ui.editor.actions.collapseAll">
			</action>
		</viewerContribution>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.eclipse.ui.preferencePages.GeneralTextEditor"
			class="org.eclipse.mylyn.internal.wikitext.ui.editor.preferences.EditorPreferencePage"
			id="org.eclipse.mylyn.wikitext.ui.editor.preferences.EditorPreferencePage"
			name="%page.name.0">
		</page>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.mylyn.internal.wikitext.ui.editor.preferences.PreferenceInitializer">
		</initializer>
	</extension>
	
	<extension id="org.eclipse.mylyn.wikitext.core.validation.problem"
		name="WikiText Markup Problem" point="org.eclipse.core.resources.markers">
		<persistent value="false" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.eclipse.mylyn.wikitext.ui.editor.problem.validation.error"
			super="org.eclipse.ui.workbench.texteditor.error" />
		<type
			name="org.eclipse.mylyn.wikitext.ui.editor.problem.validation.warning"
			super="org.eclipse.ui.workbench.texteditor.warning" />
	</extension>
	
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:help?before=group.assist">
       <command
             commandId="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand"
             icon="icons/help.gif"
             label="%command.label.3"
             style="push"
             tooltip="%command.tooltip.3">
          <visibleWhen>
          	`<with variable="activeContexts">
	            <iterate operator="or">
	               <equals
	                     value="org.eclipse.mylyn.wikitext.ui.editor.markupSourceContext"/>
	            </iterate>
         	</with>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       id="wikiTextNature"
       name="WikiText Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="org.eclipse.mylyn.internal.wikitext.ui.WikiTextNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="wikiTextValidationBuilder"
       name="WikiText Validation"
       point="org.eclipse.core.resources.builders">
    <builder>
       <run
             class="org.eclipse.mylyn.internal.wikitext.ui.validation.ValidationProjectBuilder">
       </run>
    </builder>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.eclipse.mylyn.internal.wikitext.ui.properties.ProjectPropertyPage"
          id="org.eclipse.mylyn.wikitext.ui.projectProperties"
          name="%page.name.1">
          <enabledWhen>
             <adapt
                   type="org.eclipse.core.resources.IProject"/>
          </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.mylyn.wikitext.core.parser.outline.OutlineItem"
          class="org.eclipse.mylyn.internal.wikitext.ui.util.OutlineItemAdapterFactory">
       <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
    </factory>
 </extension>
</plugin>
