<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension point="org.eclipse.mylar.tasklist.providers">
      <taskHandler
            taskHandlerClass="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaTaskHandler"
            externalizerClass="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaTaskExternalizer"
            id="org.eclipse.mylar.bugzilla.ui.tasklist"
            >
      </taskHandler>
   </extension>
   
   <extension
         id="org.eclipse.mylar.bugzilla.repository"
         name="Bugzilla Repository"
         point="org.eclipse.mylar.tasklist.repositories">

      <repositoryClient
            class="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaTaskRepositoryClient"
            id="org.eclipse.mylar.bugzilla.tasklist.repositories"
            name="Bugzilla Client"
            type="bugzilla"/>
   </extension> 
  
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
               <newWizardShortcut id="org.eclipse.mylar.bugzilla.bugWizard"/>
          </perspectiveExtension>
	</extension>
      
   <extension
      id="org.eclipse.mylar.bugzilla.wizards"
      name="Bug Wizard"
      point="org.eclipse.ui.newWizards">
   <category
         name="Bugzilla Client"
         id="org.eclipse.mylar.bugzilla.wizard.category">
   </category>
   <wizard
         category="org.eclipse.mylar.bugzilla.wizard.category"
         class="org.eclipse.mylar.bugzilla.ui.wizard.NewBugzillaReportWizard"
         icon="icons/elcl16/bug-new.gif"
         id="org.eclipse.mylar.bugzilla.bugWizard"
         name="New Bug Report">
      <description>
      	 Create a new bug report
      </description>
   </wizard>
</extension>
   
   <extension
         id="org.eclipse.mylar.bugzilla.help.browser"
         name="Bugzilla Help"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="false">
      </toc>
   </extension>
   <!--
   <extension
   			id="org.eclipse.mylar.bugzilla.ui"
   			name="Bugzilla Client Views"
   			point="org.eclipse.ui.views">
   		 <category
   				name="Bugzilla"
            	id="org.eclipse.mylar.bugzilla.category"/>
   		 <view
   		 		name="Bugzilla Offline Reports"
   				icon="icons/elcl16/bug-dirty.gif"
   				category="org.eclipse.mylar.bugzilla.category"
   				class="org.eclipse.mylar.bugzilla.ui.OfflineView"
   				id="org.eclipse.mylar.bugzilla.ui.offlineReportsView"/>
   		 <view
   		 		name="Bugzilla Favorites"
   				icon="icons/elcl16/bug-favorite.gif"
   				category="org.eclipse.mylar.bugzilla.category"
   				class="org.eclipse.mylar.bugzilla.ui.FavoritesView"
   				id="org.eclipse.mylar.bugzilla.ui.favoritesView"/>
   </extension>   
   -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Bugzilla viewer"
            icon="icons/elcl16/bug.gif"
            class="org.eclipse.mylar.bugzilla.ui.editor.ExistingBugEditor"
            id="org.eclipse.mylar.bugzilla.ui.existingBugEditor">
      </editor>
      <editor
      		name="Bugzilla viewer"
      		icon="icons/elcl16/bug.gif"
      		class="org.eclipse.mylar.bugzilla.ui.editor.NewBugEditor"
      		id="org.eclipse.mylar.bugzilla.ui.newBugEditor">
      </editor>
           <editor
           icon="icons/elcl16/bug.gif"
           name="Bugzilla task viewer"
           class="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaTaskEditor"
           id="org.eclipse.mylar.bugzilla.ui.tasklist.bugzillaTaskEditor"/>
   </extension>   
   <extension
         id="org.eclipse.mylar.bugzilla.help.context"
         name="Bugzilla Context-sensitive Help"
         point="org.eclipse.help.contexts">
      <contexts 
      		file="bugzilla-help.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.search.searchPages"
         id="org.eclipse.mylar.bugzilla.core.search.searchPage"
         name="Bugzilla Search Page">
      <page
            class="org.eclipse.mylar.bugzilla.ui.search.BugzillaSearchPage"
            enabled="true"
            icon="icons/elcl16/bug-search.gif"
            id="org.eclipse.mylar.bugzilla.core.search.bugzillaSearchPage"
            label="Bugzilla Search"
            tabPosition="999"/>
   </extension>
   <extension
         id="BugzillaSearchPage"
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.mylar.bugzilla.ui.search.BugzillaSearchResultView"
            searchResultClass="org.eclipse.mylar.bugzilla.core.search.BugzillaSearchResult"
            id="org.eclipse.mylar.bugzilla.BugzillaSearchResultPage"/>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions"> 
		<viewContribution 
			id="org.eclipse.mylar.bugzilla.ui.tasklist.actions" 
	   		targetID="org.eclipse.mylar.tasks.ui.views.TaskListView">
  		
  		<action
               class="org.eclipse.mylar.bugzilla.ui.actions.SynchronizeReportsAction"
               enablesFor="*"
               icon="icons/etool16/task-bug-refresh.gif"
               id="org.eclipse.mylar.bugzilla.ui.popup.refresh"
               label="Synchronize Reports"
               menubarPath="additions"
               tooltip="Synchronize Unresolved Reports">
         </action>
         
         <action
               class="org.eclipse.mylar.bugzilla.ui.actions.CreateNewBugzillaTaskAction"
               enablesFor="*"
               icon="icons/etool16/task-bug-new.gif"
               id="org.eclipse.mylar.bugzilla.tasklist.addNew"
               label="Add New Bugzilla Report"
               style="push"
               toolbarPath="reports"
               tooltip="Add New Bugzilla Report"> 
  		</action>
  			
	    </viewContribution> 
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.mylar.bugzilla.ui.viewerContribution"
            targetID="org.eclipse.mylar.tasks.ui.views.TaskListView">
         <action
               class="org.eclipse.mylar.bugzilla.ui.actions.SynchronizeReportsAction"
               enablesFor="*"
               icon="icons/etool16/task-bug-refresh.gif"
               id="org.eclipse.mylar.bugzilla.ui.popup.refresh"
               label="Synchronize Report(s)"
               menubarPath="reports"
               tooltip="Synchronize Reports">
            <enablement>
               <or>
                    <objectClass name="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaTask"/>
					<objectClass name="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaQueryCategory"/>
               		<objectClass name="org.eclipse.mylar.bugzilla.ui.tasklist.BugzillaHit"/>
               </or>
            </enablement>
         </action>
          
          
        <action
           class="org.eclipse.mylar.bugzilla.ui.actions.AddBugzillaQueryAction"
           enablesFor="*"
           icon="icons/etool16/category-query-new.gif"
           id="org.eclipse.mylar.bugzilla.tasklist.addQuery"
           label="Add Bugzilla Query"
           menubarPath="reports"
           style="push"
           tooltip="Add Bugzilla Query"> 
  			</action>
  			
  			<action
           class="org.eclipse.mylar.bugzilla.ui.actions.CreateNewBugzillaTaskAction"
           enablesFor="*"
           icon="icons/etool16/task-bug-new.gif"
           id="org.eclipse.mylar.bugzilla.tasklist.addNew"
           label="Add New Bugzilla Report"
           menubarPath="reports"
           style="push"
           tooltip="Add New Bugzilla Report"> 
  			</action>
	   		
  			<action
           class="org.eclipse.mylar.bugzilla.ui.actions.CreateBugzillaTaskAction"
           enablesFor="*"
           icon="icons/etool16/task-bug.gif"
           id="org.eclipse.mylar.bugzilla.tasklist.addExisting"
           label="Add Existing Bugzilla Report"
           menubarPath="reports"
           style="push"
           tooltip="Add Existing Bugzilla Report"> 
  			</action>
      </viewerContribution>
   </extension>
</plugin>


         <!--
         <action
               class="org.eclipse.mylar.bugzilla.ui.actions.CreateBugzillaTaskAction"
               enablesFor="*"
               icon="icons/etool16/task-bug.gif"
               id="org.eclipse.mylar.bugzilla.ui.popup.addExisting"
               label="Add Existing Bugzilla Report"
               menubarPath="reports"
               tooltip="Add Existing Bugzilla Report">
            <enablement>
               <objectClass name="org.eclipse.mylar.tasklist.internal.TaskCategory"/>
            </enablement>
         </action>
         -->
