<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      
   <extension
         id="org.eclipse.mylyn.bugzilla.repository" 
         name="Bugzilla Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylyn.internal.bugzilla.core.BugzillaRepositoryConnector"
            id="org.eclipse.mylyn.bugzilla.tasklist.repositories"
            name="Bugzilla Repository Connector"
            type="bugzilla"/>
            
      <connectorUi
            brandingIcon="icons/eview16/bugzilla-logo.gif"
            class="org.eclipse.mylyn.internal.bugzilla.ui.tasklist.BugzillaConnectorUi"
            name="Bugzilla Repository Ui"
            overlayIcon="icons/eview16/overlay-bugzilla.gif"/>
              
	  <taskListFactory 
            class="org.eclipse.mylyn.internal.bugzilla.ui.tasklist.BugzillaTaskListFactory"
            id="org.eclipse.mylyn.bugzilla.tasklist.factory"/>
   </extension> 
  
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <editorFactory class="org.eclipse.mylyn.internal.bugzilla.ui.tasklist.BugzillaTaskEditorFactory"/>
   </extension>
   
   <extension 
   		point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
               <newWizardShortcut id="org.eclipse.mylyn.bugzilla.bugWizard"/>
          </perspectiveExtension>
	</extension>

</plugin>
