<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.mylyn.bugzilla.rest.repository"
         name="Bugzilla REST Respository"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorUi
            brandingIcon="icons/eview16/bugzilla-logo.gif"
            class="org.eclipse.mylyn.internal.bugzilla.rest.ui.BugzillaRestRepositoryConnectorUi"
            overlayIcon="icons/eview16/overlay-bugzilla.gif">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.bugzilla.rest.ui.BugzillaRestTaskEditorPageFactory"
            id="org.eclipse.mylyn.bugzilla.rest.ui.pageFactory">
      </pageFactory>
   </extension>
</plugin>
