<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 

   <extension point="org.eclipse.mylyn.context.ui.bridges">
    <uiBridge
          class="org.eclipse.mylyn.internal.pde.ui.PdeUiBridge"
          contentType="plugin.xml"
          activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	      activeSearchLabel="XML Search"/>
  </extension>
   <extension
         point="org.eclipse.mylyn.context.ui.startup">
      <startup
            class="org.eclipse.mylyn.internal.pde.ui.PdeUiBridgePlugin$PdeUiBrideStartup">
      </startup>
   </extension>

   	<extension point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
	        class="org.eclipse.mylyn.internal.pde.ui.PdeStructureBridge"
	        name="PDE Structure Bridge"
	        parentContentType="resource"/>
	</extension>
	
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="Task Context Plug-in Test"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            delegate="org.eclipse.mylyn.internal.pde.ui.junit.TaskContextPdeJUnitLaunchConfiguration"
            modes="run, debug"
            id="org.eclipse.mylyn.pde.junit.launchconfig">
      </launchConfigurationType>
    </extension>

	<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.mylyn.pde.junit.launchconfig"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            class="org.eclipse.mylyn.internal.pde.ui.junit.TaskContextPdeJUnitTabGroup"
            id="org.eclipse.mylyn.pde.junit.launchconfig.tabgroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Test suite automatically populated by elements in the task context."
               mode="debug">
         </launchMode>
         <launchMode
               description="Test suite automatically populated by elements in the task context."
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
    </extension>	

</plugin>
