<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="study" name="Mylar Monitor" schema="schema/study.exsd"/>

   <extension
         name="Mylar user monitoring startup"
         point="org.eclipse.ui.startup">
   </extension>   
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.mylar.wizards"
            class="org.eclipse.mylar.internal.monitor.ui.wizards.UsageSubmissionWizard"
            icon="icons/etool16/wizard-study.gif"
            id="org.eclipse.mylar.monitor.ui.uploadStatistics.StatisticsUploadWizard"
            name="Usage Feedback">
      </wizard>
   </extension>
    
   <extension point="org.eclipse.ui.preferencePages">
      <page 
         name="Monitor"
         class="org.eclipse.mylar.internal.monitor.ui.preferences.MylarMonitorPreferencePage"
         id="org.eclipse.mylar.monitor.ui.preferences"
		 category="org.eclipse.mylar.ui.preferences">
      </page>  
   </extension>
   
   <!--
   	<extension
         id="org.eclipse.mylar.helpDocs"
         name="Mylar Help"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="false">
      </toc>
   </extension>
   -->
</plugin>
