<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector            
            class="org.eclipse.mylyn.internal.java.tasks.JavaStackTraceHyperlinkDetector"
            id="org.eclipse.mylyn.java.hyperlink.detector.stack"
            name="%JavaStackTraceHyperlinkDetector.name"
            targetId="org.eclipse.ui.DefaultTextEditor"/>
   </extension>
      
   <extension point="org.eclipse.ui.popupMenus">
        <viewerContribution
		    id="org.eclipse.mylyn.bugzilla.ui.contribution"
            targetID="org.eclipse.jdt.junit.ResultView">
      	<action
	      	class="org.eclipse.mylyn.internal.java.tasks.NewTaskFromJunitResultViewAction"
	        icon="icons/etool16/task-new.gif"
	        id="org.eclipse.mylyn.bugzilla.actions.newTaskFromJunitResultView"
	        label="%NewTaskFromJunitResultViewAction.label"
	        menubarPath="org.eclipse.jdt.junit.ResultView"/>
      </viewerContribution>
   </extension>
   
</plugin>
