<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
          point="org.eclipse.mylyn.tasks.ui.editors"> 
       <hyperlinkDetector
             class="org.eclipse.mylyn.internal.java.tasks.JavaStackTraceHyperlinkDetector"
             id="org.eclipse.mylyn.java.hyperlink.detector.stack"/>
    </extension>
    
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector            
            class="org.eclipse.mylyn.internal.java.tasks.JavaStackTraceHyperlinkDetector"
            id="org.eclipse.mylyn.java.hyperlink.detector.stack"
            name="Mylyn Stack Trace"
            targetId="org.eclipse.ui.DefaultTextEditor"/>
   </extension>
      
   <extension point="org.eclipse.ui.popupMenus">
        <viewerContribution
		    id="org.eclipse.mylyn.bugzilla.ui.contribution"
            targetID="org.eclipse.jdt.junit.ResultView">
      	<action
	      	class="org.eclipse.mylyn.internal.java.tasks.NewTaskFromJunitResultViewAction"
	        icon="icons/etool16/task-new.gif"
	        id="org.eclipse.mylyn.bugzilla.actions.newTaskFromJunitResultView"
	        label="New Task from Failure..."
	        menubarPath="org.eclipse.jdt.junit.ResultView"/>
      </viewerContribution>
   </extension>
   
</plugin>
