<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         Tasktop Technologies - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorCategory
            description="Task, change, bug and project tracking."
            id="org.eclipse.mylyn.discovery.directory.categories.TaskManagement"
            name="Task and Change Management"
            relevance="50">
         <group
               id="certified">
         </group>
         <group
               id="bundled">
         </group>
         <group
               id="extra">
         </group>
      </connectorCategory>
	  <connectorCategory
         description="Software configuration and version control."
         id="org.eclipse.mylyn.discovery.directory.categories.SourceCodeManagement"
         name="Source Code Management"
         relevance="40">
      <group
            id="certified">
      </group>
      </connectorCategory>
   <connectorCategory
         description="Build and continuous integration."
         id="org.eclipse.mylyn.discovery.directory.categories.BuildManagement"
         name="Build Management"
         relevance="30">
      <group
            id="certified">
      </group>
   </connectorCategory>
   <connectorCategory
         description="Development tools for code analysis, coverage, metrics and more."
         id="org.eclipse.mylyn.discovery.directory.categories.Utilities"
         name="Utilities"
         relevance="10">
      <group
            id="certified">
      </group>
   </connectorCategory>
   </extension>
   
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <!--
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.site.categories.connectorCategoryEclipseOrg"
            description="%connectorDescriptor.description.bugzilla"
            groupId="org.eclipse.mylyn.discovery-directory.bundled"
            id="org.eclipse.mylyn.bugzilla_feature"
            kind="task"
            license="%connectorDescriptor.license.bugzilla"
            name="%connectorDescriptor.name.bugzilla"
            provider="%connectorDescriptor.provider.bugzilla"
            siteUrl="http://download.eclipse.org/tools/mylyn/update/e3.4">
         <icon
               image32="images/bugzilla32.png">
         </icon>
         <overview
               screenshot="images/bugzilla-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.bugzilla"
               url="http://eclipse.org/mylyn/">
         </overview>
      </connectorDescriptor>
   	  -->
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.directory.categories.TaskManagement"
            description="%connectorDescriptor.description.trac"
            groupId="extra"
            id="org.eclipse.mylyn.trac_feature"
            kind="task"
            license="%connectorDescriptor.license.trac"
            name="%connectorDescriptor.name.trac"
            provider="%connectorDescriptor.provider.trac"
            siteUrl="http://download.eclipse.org/tools/mylyn/update/e3.4">
         <icon
               image32="images/trac32.png"
               image64="images/trac64.png">
         </icon>
         <overview
               screenshot="images/trac-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.trac"
               url="http://eclipse.org/mylyn/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.directory.categories.TaskManagement"
            description="%connectorDescriptor.description.mantis"
            id="com.itsolut.mantis_feature"
            kind="task"
            license="%connectorDescriptor.license.mantis"
            name="%connectorDescriptor.name.mantis"
            provider="%connectorDescriptor.provider.mantis"
            siteUrl="http://mylyn-mantis.sourceforge.net/eclipse/update/">
         <icon
               image32="images/mantis-32.png"></icon>
         <overview
               screenshot="images/mantis-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.mantis"
               url="http://mylyn-mantis.wiki.sourceforge.net/">
         </overview>
      </connectorDescriptor>
      
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.directory.categories.TaskManagement"
            description="%connectorDescriptor.description.foglyn"
            id="com.foglyn"
            kind="task"
            license="%connectorDescriptor.license.foglyn"
            name="%connectorDescriptor.name.foglyn"
            provider="%connectorDescriptor.provider.foglyn"
            siteUrl="http://update.foglyn.com/stable">
         <icon
               image128="images/foglyn-128.png"
               image32="images/foglyn-32.png"
               image48="images/foglyn-48.png"
               image64="images/foglyn-64.png">
         </icon>
         <overview
               screenshot="images/foglyn-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.foglyn"
               url="http://www.foglyn.com/?connectordiscovery">
         </overview>
      </connectorDescriptor>
	</extension>
</plugin>
