<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         Tasktop Technologies - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorCategory
            description="%connectorCategory.description.eclipse"
            id="org.eclipse.mylyn.discovery.site.categories.connectorCategoryEclipseOrg"
            name="%connectorCategory.name.eclipse"
            relevance="50">
         <icon
               image32="images/eclipse-32.png"
               image48="images/eclipse-48.png"/>
         <group
               id="org.eclipse.mylyn.discovery-directory.bundled">
         </group>
         <group
               id="org.eclipse.mylyn.discovery-directory.extra">
         </group>
      </connectorCategory>
	  <connectorCategory
         description="%connectorCategory.description.community"
         id="org.eclipse.mylyn.discovery.directory.community"
         name="%connectorCategory.name.community"
         relevance="10">
         <icon
               image32="images/community-32.png"
               image48="images/community-48.png">
         </icon>
      </connectorCategory>
   </extension>
   
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.site.categories.connectorCategoryEclipseOrg"
            description="%connectorDescriptor.description.bugzilla"
            groupId="org.eclipse.mylyn.discovery-directory.bundled"
            id="org.eclipse.mylyn.bugzilla_feature"
            kind="task"
            license="%connectorDescriptor.license.bugzilla"
            name="%connectorDescriptor.name.bugzilla"
            provider="%connectorDescriptor.provider.bugzilla"
            siteUrl="http://download.eclipse.org/tools/mylyn/update/weekly/e3.4">
         <icon
               image32="images/bugzilla32.png">
         </icon>
         <overview
               screenshot="images/bugzilla-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.bugzilla"
               url="http://eclipse.org/mylyn/">
         </overview>
      </connectorDescriptor>
   
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.site.categories.connectorCategoryEclipseOrg"
            description="%connectorDescriptor.description.trac"
            groupId="org.eclipse.mylyn.discovery-directory.extra"
            id="org.eclipse.mylyn.trac_feature"
            kind="task"
            license="%connectorDescriptor.license.trac"
            name="%connectorDescriptor.name.trac"
            provider="%connectorDescriptor.provider.trac"
            siteUrl="http://download.eclipse.org/tools/mylyn/update/weekly/extras">
         <icon
               image32="images/trac32.png"
               image64="images/trac64.png">
         </icon>
         <overview
               screenshot="images/trac-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.trac"
               url="http://eclipse.org/mylyn/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.directory.community"
            description="%connectorDescriptor.description.mantis"
            id="com.itsolut.mantis_feature"
            kind="task"
            license="%connectorDescriptor.license.mantis"
            name="%connectorDescriptor.name.mantis"
            provider="%connectorDescriptor.provider.mantis"
            siteUrl="http://mylyn-mantis.sourceforge.net/eclipse/update/">
         <icon
               image32="images/mantis-32.png"></icon>
         <overview
               screenshot="images/mantis-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.mantis"
               url="http://mylyn-mantis.wiki.sourceforge.net/">
         </overview>
      </connectorDescriptor>
      
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.directory.community"
            description="%connectorDescriptor.description.foglyn"
            id="com.foglyn"
            kind="task"
            license="%connectorDescriptor.license.foglyn"
            name="%connectorDescriptor.name.foglyn"
            provider="%connectorDescriptor.provider.foglyn"
            siteUrl="http://update.foglyn.com/stable">
         <icon
               image128="images/foglyn-128.png"
               image32="images/foglyn-32.png"
               image48="images/foglyn-48.png"
               image64="images/foglyn-64.png">
         </icon>
         <overview
               screenshot="images/foglyn-screenshot-320x240.png"
               summary="%connectorDescriptor.overview.summary.foglyn"
               url="http://www.foglyn.com/?connectordiscovery">
         </overview>
      </connectorDescriptor>

	<!--
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.site.categories.connectorCategoryEclipseOrg"
            description="The JIRA connector supports JIRA 3.4 or later."
            id="org.eclipse.mylyn.jira_feature"
            kind="task"
            license="EPL"
            name="Atlassian JIRA"
            provider="Eclipse Mylyn"
            siteUrl="http://download.eclipse.org/tools/mylyn/update/weekly/extras">
         <icon
               image32="images/jira32.png">
         </icon>
         <overview
               screenshot="images/jira-screenshot-320x240.png"
               summary="With the JIRA connector, you can query your JIRA server and access your issues from Eclipse. You can then quickly view and update your issues using a rich editor. When someone modifies one of your tasks, you&apos;ll see an incoming change notification in your task list. Now there&apos;s no need to use a web browser and email client to stay on top of your JIRA issues. Tasktop also provides task time tracking as well as personal, sophisticated scheduling for your JIRA tasks so you can prioritize your work beyond that available through JIRA."
               url="http://confluence.atlassian.com/display/JIRAEXT/Mylyn">
         </overview>
      </connectorDescriptor>
     -->

	</extension>
</plugin>
