<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2007, 2009 David Green and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        David Green - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.mylyn.wikitext.ui.contentAssist">
      
      <templates
            markupLanguage="Confluence">
         <!-- phrase modifiers -->
         <template name="_" description="%template.description.0" content="_${text}_ $"/>
         <template name="*" description="%template.description.1" content="*${text}* $"/>
         <template name="__" description="%template.description.2" content="__${text}__ $"/>
         <template name="**" description="%template.description.3" content="**${text}** $"/>
         <template name="??" description="%template.description.5" content="??${text}?? $"/>
         <template name="-" description="%template.description.6" content="-${text}- $"/>
         <template name="+" description="%template.description.7" content="+${text}+ $"/>
         <template name="^" description="%template.description.8" content="^${text}^ $"/>
         <template name="~" description="%template.description.9" content="~${text}~ $"/>
         <template name="[" description="%template.description.4" content="[${text}|${url}] $"/>
         
         <!-- block templates -->
         
         <template name="h1. " description="%template.description.10" content="\nh1. ${text}\n\n" block="true"/>
         <template name="h2. " description="%template.description.11" content="\nh2. ${text}\n\n" block="true"/>
         <template name="h3. " description="%template.description.12" content="\nh3. ${text}\n\n" block="true"/>
         <template name="h4. " description="%template.description.13" content="\nh4. ${text}\n\n" block="true"/>
         <template name="h5. " description="%template.description.14" content="\nh5. ${text}\n\n" block="true"/>
         <template name="h6. " description="%template.description.15" content="\nh6. ${text}\n\n" block="true"/>
         <template name="code" description="%template.description.17" content="\n{code}\n${text}\n{code}\n\n" block="true"/>
         <template name="info" description="%template.description.20" content="\n{info}\n${text}\n{info}\n\n" block="true"/>
         <template name="note" description="%template.description.21" content="\n{note}\n${text}\n{note}\n\n" block="true"/>
         <template name="quote" description="%template.description.19" content="\n{quote}\n${text}\n{quote}\n\n" block="true"/>
         <template name="tip" description="%template.description.28" content="\n{tip}\n${text}\n{tip}\n\n" block="true"/>
         <template name="noformat" description="%template.description.23" content="\n{noformat}\n${text}\n{noformat}\n\n" block="true"/>
         <template name="# " description="%template.description.24" content="\n# ${text}\n# ${text2}\n\n" block="true"/>
         <template name="## " description="%template.description.25" content="\n## ${text}\n## ${text2}\n\n" block="true"/>
         <template name="* " description="%template.description.26" content="\n* ${text}\n* ${text2}\n\n" block="true"/>
         <template name="** " description="%template.description.27" content="\n** ${text}\n** ${text2}\n\n" block="true"/>
         <template name="|" description="%template.description.16" content="\n| ${text} | ${text2} |\n| ${text3} | ${text4} |\n\n" block="true"/>
         <template name="||" description="%template.description.18" content="\n|| ${text} || ${text2} ||\n" block="true"/>
         
         <!-- generative templates -->
         <template name="{toc}" description="%template.description.29" content="\n{toc}\n\n" block="true"/>
         <template name="{glossary}" description="%template.description.30" content="\n{glossary}\n\n" block="true"/> 
         
      </templates>
   </extension>
   <extension
         point="org.eclipse.mylyn.wikitext.ui.cheatSheet">
      <content
            markupLanguage="Confluence"
            resource="help/cheatSheet/Confluence.confluence">
      </content>
   </extension>


</plugin>
