<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         Tasktop Technologies - initial API and implementation
 -->
<plugin>
   <extension-point id="languages" name="languages" schema="schema/languages.exsd"/>

   <extension
       id="org.eclipse.mylyn.bugzilla.repository"
       name="%bugzilla.repository.name"
       point="org.eclipse.mylyn.tasks.core.repositories">

     <connectorCore
         id="bugzilla"
         class="org.eclipse.mylyn.internal.bugzilla.core.BugzillaRepositoryConnector"
         name="%BugzillaRepositoryConnector.name"/> 

     <taskListMigrator
         class="org.eclipse.mylyn.internal.bugzilla.core.BugzillaTaskListMigrator"/>
     <repositoryMigrator
         class="org.eclipse.mylyn.internal.bugzilla.core.BugzillaRepositoryMigrator"/>
   </extension>
</plugin>
