<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="languages" name="languages" schema="schema/languages.exsd"/>
<!--<extension
   		point="org.eclipse.mylyn.tasks.ui.duplicateDetectors">
            <detector
                  class="org.eclipse.mylyn.internal.bugzilla.core.BugzillaStackTraceDuplicateDetector"
                  kind="bugzilla"
                  name="Stack Trace">
            </detector>       
   </extension>-->
</plugin>
