<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="mylyn-e3.6" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.platform.feature.group" version="6.0.0.200909110608"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.0.1.v20090916-2238"/>
<unit id="org.eclipse.sdk.ide" version="R35x_v20100119-7Q7bARBPWUHM_CSjz-8bF1f7_n8rLSyWHoiKoyxBQSGT4"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.1.0.v200906151043"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
<unit id="com.sun.xml.bind" version="2.2.0.v201004141950"/>
<unit id="javax.activation" version="1.1.0.v201005080500"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.servlet" version="2.4.0.v200806031604"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201005080402"/>
<unit id="javax.xml.rpc" version="1.1.0.v201005080400"/>
<unit id="javax.xml.soap" version="1.2.0.v201005080501"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.wsdl" version="1.6.2.v201005080631"/>
<unit id="org.apache.ant" version="1.7.0.v20100518-1140"/>
<unit id="org.apache.axis" version="1.4.0.v201005080400"/>
<unit id="org.apache.commons.codec" version="1.3.0.v20100518-1140"/>
<unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201005080502"/>
<unit id="org.apache.commons.lang" version="2.3.0.v201005080501"/>
<unit id="org.apache.commons.logging" version="1.0.4.v201005080501"/>
<unit id="org.apache.xmlrpc" version="3.0.0.v20100427-1100"/>
<unit id="org.apache.ws.commons.util" version="1.0.0.v20100518-1135"/>
<unit id="org.jdom" version="1.0.0.v201005080400"/>
<unit id="org.json" version="1.0.0.v201003050614"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20100519200754/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e35"/>
<repository location="http://download.eclipse.org/technology/swtbot/galileo/dev-build/update-site"/>
</location>
</locations>
</target>
