<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorCategory
            description="a category for testing purposes"
            id="org.eclipse.mylyn.discovery.tests.connectorCategory1"
            name="Test Category">
      </connectorCategory>
      <connectorDescriptor
            categoryId="org.eclipse.mylyn.discovery.tests.connectorCategory1"
            description="a fictitious test connector that does nothing"
            id="org.eclipse.mylyn.discovery.tests.connectorDescriptor1"
            kind="task"
            license="UTL (Unit Test License)"
            name="Test Connector"
            provider="UnitTesting"
            siteUrl="http://foo.nodomain/site">
      </connectorDescriptor>
   </extension>

</plugin>
