<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        Tasktop Technologies - initial API and implementation
 -->

<plugin>

  <extension
        point="org.eclipse.ui.commands">
        <category
              id="org.eclipse.mylyn.discovery.test.category1"
              name="Mylyn Discovery Test Category">
        </category>
     <command
           defaultHandler="org.eclipse.mylyn.discovery.test.internal.ui.commands.ShowConnectorDiscoveryWizardCommandHandler"
           id="org.eclipse.mylyn.discovery.test.showDiscoveryWizardCommand"
           name="Show Connector Discovery Wizard"
           categoryId="org.eclipse.mylyn.discovery.test.category1">
     </command>
  </extension>
	 <extension
	       point="org.eclipse.ui.menus">
	       <!--
	       FIXME: THIS MENU CONTRIBUTION IS FOR TESTING ONLY!!
	       -->
	    <menuContribution
	          locationURI="menu:file?after=additions">
		       <command
		             commandId="org.eclipse.mylyn.discovery.test.showDiscoveryWizardCommand"
		             label="Connector Discovery"
		             style="push"
		             tooltip="Mylyn Connector Discovery">
		       </command>
	    </menuContribution>
	 </extension>
</plugin>
