<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Mylyn Reviews Target" sequenceNumber="76">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.jgit.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="1.0.0.201106090707-r"/>
<repository location="http://download.eclipse.org/egit/updates"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gerrit.common" version="0.0.0"/>
<unit id="com.google.gerrit.common.source" version="0.0.0"/>
<unit id="com.google.gerrit.prettify" version="0.0.0"/>
<unit id="com.google.gerrit.prettify.source" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb.source" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.hamcrest.integration.source" version="0.0.0"/>
<unit id="org.hamcrest.generator" version="0.0.0"/>
<unit id="org.hamcrest.generator.source" version="0.0.0"/>
<unit id="org.hamcrest.integration" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.text" version="0.0.0"/>
<unit id="org.hamcrest.text.source" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.mockito.source" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.test_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/snapshots/weekly/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wb.swt.feature.feature.group" version="1.0.0.r37x201106081643"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.0.v20110606-0949"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
</locations>
</target>
