<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--<extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.oslc.cm.internal.core.OslcConnector">
      </connectorCore>
      <connectorUi
            class="org.eclipse.mylyn.oslc.cm.internal.ui.OslcConnectorUi">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.oslc.cm.internal.ui.editor.OslcBrowserTaskEditorPageFactory"
            id="com.tasktop.ibm.clearquest.ui.pageFactory">
      </pageFactory>
   </extension>
   -->

</plugin>
