<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2010 Tasktop Technologies and others. 
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Tasktop Technologies - initial API and implementation
 -->
<plugin>
   <extension-point id="connectors" name="Build Connectors" schema="schema/connectors.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.mylyn.builds.ui.views.BuildsCategory"
            class="org.eclipse.mylyn.internal.builds.ui.view.BuildsView"
            icon="icons/eview16/build-view.png"
            id="org.eclipse.mylyn.builds.navigator.builds"
            name="Builds">
      </view>
      <category
            id="org.eclipse.mylyn.builds.ui.views.BuildsCategory"
            name="Builds">
      </category>
   </extension>
    <extension point="org.eclipse.ui.preferencePages">
		<page name="Builds"
			class="org.eclipse.mylyn.internal.builds.ui.BuildsPreferencesPage"
			id="org.eclipse.mylyn.builds.preferences.BuildsPage">
	    	<keywordReference id="org.eclipse.mylyn.builds.preferences.keywords"/>
		</page>
    </extension>
	<extension point="org.eclipse.ui.keywords">
	    <keyword
	          id="org.eclipse.mylyn.builds.preferences.keywords"
	          label="interval polling build status">
	    </keyword>
	</extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.mylyn.internal.builds.ui.BuildsPreferencesInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.eclipse.mylyn.internal.builds.ui.navigator.BuildNavigatorContentProvider"
          icon="icons/eview16/build-view.png"
          id="org.eclipse.mylyn.builds.ui.navigator.BuildRepositories"
          labelProvider="org.eclipse.mylyn.internal.builds.ui.view.BuildLabelProvider"
          name="Build Repositories">
       <possibleChildren>
          <instanceof
                value="org.eclipse.mylyn.builds.core.IBuildElement">
          </instanceof>
       </possibleChildren>
       <triggerPoints>
          <instanceof
                value="org.eclipse.mylyn.commons.ui.team.RepositoryViewModel">
          </instanceof>
       </triggerPoints>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.mylyn.commons.team.navigator.Repositories">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="org.eclipse.mylyn.builds.ui.navigator.BuildRepositories">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.BuildElementPropertiesHandler"
            commandId="org.eclipse.ui.file.properties">
         <activeWhen>
			<with variable="activePartId">
			    <equals value="org.eclipse.mylyn.builds.navigator.builds"/>
			</with> 
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.BuildElementPropertiesHandler"
            commandId="org.eclipse.ui.file.properties">
         <activeWhen>
			<with variable="activePartId">
			    <equals value="org.eclipse.mylyn.commons.team.navigator.Repositories"/>
			</with> 
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.DeleteBuildElementHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
			<with variable="activePartId">
			    <equals value="org.eclipse.mylyn.commons.team.navigator.Repositories"/>
			</with> 
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.eclipse.mylyn.internal.builds.ui.BuildsStartup"></startup>
 </extension>
 <extension
       point="org.eclipse.mylyn.commons.team.newWizards">
    <category
          id="org.eclipse.mylyn.builds.ui.category.Builds"
          name="Builds">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.eclipse.mylyn.internal.builds.ui.editor.BuildEditor"
          contributorClass="org.eclipse.mylyn.internal.builds.ui.editor.BuildEditorActionContribution"
          default="false"
          icon="icons/eview16/build-view.png"
          id="org.eclipse.mylyn.builds.ui.editor.buildeditor"
          name="BuildDetails">
    </editor>
 </extension>
</plugin>
