<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2010 Tasktop Technologies and others. 
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Tasktop Technologies - initial API and implementation
 -->
<plugin>
   <extension-point id="connectors" name="Build Connectors" schema="schema/connectors.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.mylyn.builds.ui.views.BuildsCategory"
            class="org.eclipse.mylyn.internal.builds.ui.view.BuildsView"
            icon="icons/eview16/build-view.png"
            id="org.eclipse.mylyn.builds.navigator.builds"
            name="Builds">
      </view>
      <category
            id="org.eclipse.mylyn.builds.ui.views.BuildsCategory"
            name="Builds">
      </category>
   </extension>
    <extension point="org.eclipse.ui.preferencePages">
		<page name="Builds"
			class="org.eclipse.mylyn.internal.builds.ui.BuildsPreferencesPage"
			id="org.eclipse.mylyn.builds.preferences.BuildsPage">
	    	<keywordReference id="org.eclipse.mylyn.builds.preferences.keywords"/>
		</page>
    </extension>
	<extension point="org.eclipse.ui.keywords">
	    <keyword
	          id="org.eclipse.mylyn.builds.preferences.keywords"
	          label="interval polling build status">
	    </keyword>
	</extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.mylyn.internal.builds.ui.BuildsPreferencesInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.eclipse.mylyn.internal.builds.ui.navigator.BuildNavigatorContentProvider"
          icon="icons/eview16/build-view.png"
          id="org.eclipse.mylyn.builds.ui.navigator.BuildRepositories"
          labelProvider="org.eclipse.mylyn.internal.builds.ui.view.BuildLabelProvider"
          name="Build Repositories">
       <possibleChildren>
          <instanceof
                value="org.eclipse.mylyn.builds.core.IBuildElement">
          </instanceof>
       </possibleChildren>
       <triggerPoints>
          <instanceof
                value="org.eclipse.mylyn.commons.repositories.RepositoryCategory">
          </instanceof>
       </triggerPoints>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.mylyn.commons.team.navigator.Repositories">
       <includes>
          <contentExtension
                pattern="org.eclipse.mylyn.builds.ui.navigator.BuildRepositories">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="org.eclipse.mylyn.internal.builds.ui.commands.OpenBuildHandler"
          id="org.eclipse.mylyn.builds.ui.commands.OpenBuild"
          name="Open Build">
    </command>
    <command
          defaultHandler="org.eclipse.mylyn.internal.builds.ui.commands.OpenBuildWithBrowserHandler"
          id="org.eclipse.mylyn.builds.ui.commands.OpenBuildWithBrowser"
          name="Open Build with Browser">
    </command>
    <command
          defaultHandler="org.eclipse.mylyn.internal.builds.ui.commands.ShowBuildOutputHandler"
          id="org.eclipse.mylyn.builds.ui.command.ShowBuildOutput"
          name="Show Build Output">
    </command>
    <command
          defaultHandler="org.eclipse.mylyn.internal.builds.ui.commands.RunBuildHandler"
          id="org.eclipse.mylyn.builds.ui.command.RunBuild"
          name="Run Build">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.commandImages">
    <image
          commandId="org.eclipse.mylyn.builds.ui.command.ShowBuildOutput"
          icon="icons/etool16/console.gif">
    </image>
    <image
          commandId="org.eclipse.mylyn.builds.ui.command.RunBuild"
          disabledIcon="icons/dtool16/run_exc.gif"
          icon="icons/etool16/run_exc.gif">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.BuildElementPropertiesHandler"
            commandId="org.eclipse.ui.file.properties">
         <activeWhen>
			<with variable="activePartId">
			    <equals value="org.eclipse.mylyn.builds.navigator.builds"/>
			</with> 
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.BuildElementPropertiesHandler"
            commandId="org.eclipse.ui.file.properties">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.mylyn.commons.team.navigator.Repositories">
                  </equals>
               </with>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.DeleteBuildElementHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
			<with variable="activePartId">
			    <equals value="org.eclipse.mylyn.commons.team.navigator.Repositories"/>
			</with> 
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildElement">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.builds.ui.commands.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.mylyn.builds.navigator.builds">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.mylyn.builds.core.IBuildServer">
                     </instanceof>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.eclipse.mylyn.internal.builds.ui.BuildsStartup"></startup>
 </extension>
 <extension
       point="org.eclipse.mylyn.commons.team.newWizards">
    <category
          id="org.eclipse.mylyn.builds.ui.category.Builds"
          name="Builds">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.eclipse.mylyn.internal.builds.ui.editor.BuildEditor"
          contributorClass="org.eclipse.mylyn.internal.builds.ui.editor.BuildEditorActionContribution"
          default="false"
          icon="icons/eview16/build-view.png"
          id="org.eclipse.mylyn.builds.ui.editors.Build"
          name="Build Editor">
    </editor>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.mylyn.builds.navigator.builds?after=group.open">
       <!--
       <command
             commandId="org.eclipse.mylyn.builds.ui.commands.OpenBuild"
             label="Open"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="and">
                <instanceof
                      value="org.eclipse.mylyn.builds.core.IBuildPlan">
                </instanceof>
             </iterate>
          </visibleWhen>
       </command>
       -->
       <command
             commandId="org.eclipse.mylyn.builds.ui.commands.OpenBuildWithBrowser"
             label="Open with Browser"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false">
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.mylyn.builds.navigator.builds?after=group.file">
       <command
             commandId="org.eclipse.mylyn.builds.ui.command.ShowBuildOutput"
             label="Show Output"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="and">
                <instanceof
                      value="org.eclipse.mylyn.builds.core.IBuildPlan">
                </instanceof>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.mylyn.builds.navigator.builds?after=group.run">
       <command
             commandId="org.eclipse.mylyn.builds.ui.command.RunBuild"
             label="Run Build"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="and">
                <instanceof
                      value="org.eclipse.mylyn.builds.core.IBuildPlan">
                </instanceof>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.mylyn.builds.navigator.builds?after=group.refresh">
       <command
             commandId="org.eclipse.ui.file.refresh"
             label="Refresh"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.mylyn.builds.navigator.builds?after=group.properties">
       <command
             commandId="org.eclipse.ui.file.properties"
             label="Properties"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.mylyn.builds.navigator.builds?after=group.navigate">
       <command
             commandId="org.eclipse.ui.views.showView"
             icon="icons/eview16/repositories.gif"
             label="Show Team Repositories View"
             style="push">
          <parameter
                name="org.eclipse.ui.views.showView.viewId"
                value="org.eclipse.mylyn.commons.team.navigator.Repositories">
          </parameter>
       </command>
    </menuContribution>
 </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="org.eclipse.builds.ui.JavaConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="org.eclipse.mylyn.builds.ui.console.BuildConsole"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="org.eclipse.builds.ui.JavaNativeConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="org.eclipse.mylyn.builds.ui.console.BuildConsole"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
            <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="org.eclipse.builds.ui.JavaExceptionConsoleTracker">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="org.eclipse.mylyn.builds.ui.console.BuildConsole"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>   
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="org.eclipse.mylyn.internal.builds.ui.console.BuildConsolePageParticipant"
          id="org.eclipse.mylyn.builds.ui.console.BuildOutputPageParticipant">
       <enablement>
           <test property="org.eclipse.ui.console.consoleTypeTest" value="org.eclipse.mylyn.builds.ui.console.BuildConsole"/>
       </enablement>
    </consolePageParticipant>
 </extension>
 <extension
       point="org.eclipse.mylyn.commons.notifications.notifications">
    <event
          categoryId="org.eclipse.mylyn.builds.ui.category.Builds"
          id="org.eclipse.mylyn.builds.ui.events.PlanStatusChanged"
          label="Plan Status Changed">
       <description>
          This event is triggered when the status of a build plan changes, e.g. when a successful build plan changes its status to failed.
       </description>
    </event>
    <event
          categoryId="org.eclipse.mylyn.builds.ui.category.Builds"
          id="org.eclipse.mylyn.builds.ui.event.BuildStarted"
          label="Build Started"
          selected="false">
       <description>
          This event is triggered when a build starts on the server.
       </description>
    </event>
    <event
          categoryId="org.eclipse.mylyn.builds.ui.category.Builds"
          id="org.eclipse.mylyn.builds.ui.event.BuildCompleted"
          label="Build Completed"
          selected="false">
       <description>
          This event is triggered when a build completes on the server.
       </description>
    </event>
    <category
          icon="icons/eview16/build-view.png"
          id="org.eclipse.mylyn.builds.ui.category.Builds"
          label="Builds">
    </category>
 </extension>
</plugin>
