<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 &copy; 2011 Torkild U. Resheim
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.mylyn.docs.epub.opf.OPFPackage"
            genModel="model/opf.genmodel"
            uri="http://eclipse.org/mylyn/docs/epub/opf">
      </package>
      <package
            class="org.eclipse.mylyn.docs.epub.dc.DCPackage"
            uri="http://eclipse.org/mylyn/docs/epub/dc">
      </package>
   </extension>


</plugin>
