<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name="Mylar Java startup"
         point="org.eclipse.ui.startup">
   </extension>
  
  <extension point="org.eclipse.ui.viewActions"> 
	<viewContribution 
		id="org.eclipse.mylar.java.explorer.contribution" 
   		targetID="org.eclipse.jdt.ui.PackageExplorer">
    	<action
	         id="org.eclipse.mylar.actions.filter.packageExplorer" 
	         style="toggle"
	         label="Filter uninteresting" 
	         icon="icons/elcl16/interest-filtering.gif"
	         tooltip="Filter uninteresting"
	      	 toolbarPath="mylar"
	         class="org.eclipse.mylar.java.ui.actions.FilterPackageExplorerAction"
	         enablesFor="*"> 
  		</action> 
  		<!--
    	<action
	         id="org.eclipse.mylar.actions.filter.members" 
	         label="Filter member" 
	         icon="icons/elcl16/filter-members.gif"
	         tooltip="Filter uninteresting"
	      	 toolbarPath="mylar" 
	         class="org.eclipse.mylar.java.ui.actions.FilterMembersAction"
	         enablesFor="*"> 
  		</action>  
  		-->
      </viewContribution> 
	</extension>
  <extension point="org.eclipse.ui.actionSets">
	<actionSet
            id="org.eclipse.mylar.action.contribution.folding"
            label="Mylar Java Plugin"
            visible="true"> 
            
  		<action
         	id="org.eclipse.mylar.action.contribution.editor.autoFold" 
         	style="toggle"
         	label="Mylar automatic folding" 
         	icon="icons/elcl16/interest-folding.gif"
         	tooltip="Mylar automatic folding"
      		toolbarPath="org.eclipse.mylar.java.folding"
         	class="org.eclipse.mylar.java.ui.actions.ToggleAutoFoldAction"> 
      	</action> 
  	</actionSet>
  </extension>

<!--
	<extension point="org.eclipse.ui.editorActions"> 
		<editorContribution 
      		id="org.eclipse.ui.articles.action.contribution.editor" 
   			targetID="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor">
	   		<action
	         	id="org.eclipse.mylar.action.contribution.editor.autoFold" 
	         	style="toggle"
	         	label="Mylar automatic folding" 
	         	icon="icons/elcl16/auto-fold.gif"
	         	tooltip="Mylar automatic folding"
	      		toolbarPath="Normal/additions"
	         	class="org.eclipse.mylar.java.ui.actions.ToggleAutoFoldAction"> 
	      	</action> 
   	 	</editorContribution> 
   	 	
   	 	<editorContribution 
      		id="org.eclipse.ui.articles.action.contribution.editor.classFile" 
   			targetID="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditor">
	   		<action
	         	id="org.eclipse.mylar.action.contribution.editor.autoFold.classFile" 
	         	style="toggle"
	         	label="Mylar automatic folding" 
	         	icon="icons/elcl16/auto-fold.gif"
	         	tooltip="Mylar automatic folding"
	      		toolbarPath="Normal/additions"
	         	class="org.eclipse.mylar.java.ui.actions.ToggleAutoFoldAction"> 
	      	</action> 
   	 	</editorContribution>
   </extension>
	-->
   <extension point="org.eclipse.jdt.ui.javaElementFilters">
        <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="Mylar Java Declarations Filter"
            enabled="false"
            description="Mylar Java Declarations Filter"
            class="org.eclipse.mylar.java.ui.MembersFilter"
            id="org.eclipse.mylar.java.ui.MembersFilter">
   		</filter>
   		<!--
    	<filter
            name="Mylar Degree-of-interest filter"
            enabled="true"
            description="Mylar Degree-of-interest filter"
            class="org.eclipse.mylar.ui.InterestFilter"
            id="org.eclipse.mylar.ui.java.InterestFilter">
   		</filter>
   		-->
  </extension>
  
   
  
  <!-- ** EDITOR ****************************************** -->

  <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor 
            name="Mylar Java Editor"
            icon="icons/eview16/editor-mylar-java.gif"
            extensions="java"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor"
            id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor">
      		<contentTypeBinding contentTypeId="org.eclipse.jdt.core.javaSource" /> 
      </editor>  
   </extension> 
   
     <extension point="org.eclipse.ui.actionSetPartAssociations">
  	<actionSetPartAssociation targetID="org.eclipse.jdt.ui.A_OpenActionSet">
		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
    </actionSetPartAssociation>
  	<actionSetPartAssociation targetID="org.eclipse.jdt.ui.CodingActionSet">
		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
    </actionSetPartAssociation>
    <actionSetPartAssociation targetID="org.eclipse.jdt.ui.SearchActionSet">
  		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
  		<part id="org.eclipse.mylar.java.ui.editor.MylarClassFileEditor" /> 
  	</actionSetPartAssociation>
    <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
  		<part id="org.eclipse.mylar.java.ui.editor.MylarClassFileEditor" /> 
   </actionSetPartAssociation>
   <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.presentation">
		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
  		<part id="org.eclipse.mylar.java.ui.editor.MylarClassFileEditor" /> 
   </actionSetPartAssociation>
   <actionSetPartAssociation targetID="org.eclipse.jdt.ui.text.java.actionSet.presentation">
		<part id="org.eclipse.mylar.java.ui.editor.MylarCompilationUnitEditor" /> 
  		<part id="org.eclipse.mylar.java.ui.editor.MylarClassFileEditor" /> 
   </actionSetPartAssociation>
  </extension>
  
  <extension point="org.eclipse.jdt.ui.foldingStructureProviders">
  	<provider 
  		preferencesClass="org.eclipse.mylar.java.ui.editor.AutoFoldPreferenceBlock" 
  		class="org.eclipse.mylar.java.ui.editor.AutoFoldingStructureProvider" 
  		name="Mylar Auto Folding" 
  		id="org.eclipse.mylar.java.ui.editor.foldingprovider" /> 
    </extension> 

	<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.mylar.wizards"
            class="org.eclipse.mylar.java.ui.wizards.MylarPreferenceWizard"
            icon="icons/etool16/wizard-prefs.gif"
            id="org.eclipse.mylar.java.ui.mylarPreferenceWizard"
            name="Preference Configuration">
      </wizard>
   </extension>

   <extension
       	 point="org.eclipse.ui.actionSets">
   	  <actionSet
            label="Mylar Java"
            description="Mylar Java"
            visible="true"
            id="org.eclipse.mylar.java.actionSet">
          <action
               definitionId="org.eclipse.mylar.java.ui.search.taskscape"
               label="Search the current task context"
               class="org.eclipse.mylar.java.ui.actions.FindReferencesInTaskscapeAction"
               id="org.eclipse.mylar.java.ui.search.taskscape">
         </action>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.commands">
	  <command
         categoryId="org.eclipse.mylar.ui"
         description="Search the current task context"
         id="org.eclipse.mylar.java.ui.search.taskscape"
         name="Search Task Context">
      </command>
   </extension>

   <extension point="org.eclipse.ui.bindings">   
	  <key
            sequence="M2+M3+G"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.java.ui.search.taskscape"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key> 
   </extension> 

</plugin>
