<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="javaEditorContributor" 
   		name="Mylar Java Editor Contributor" 
   		schema="schema/javaEditorContributor.exsd"/>
	
	<extension
	       point="org.eclipse.mylar.context.core.bridges">
	    <structureBridge
           class="org.eclipse.mylar.internal.java.JavaStructureBridge"
           name="Java Structure Bridge"
           parentContentType="*"/>
     <structureBridge
           class="org.eclipse.mylar.internal.java.JavaDebugStructureBridge"
           name="Java Debug Structure Bridge"/>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.JavaImplementorsProvider"
           contentType="java">
     </relationProvider>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.JavaReadAccessProvider"
           contentType="java">
     </relationProvider>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.JavaReferencesProvider"
           contentType="java">
     </relationProvider>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.JavaWriteAccessProvider"
           contentType="java">
     </relationProvider>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.JUnitReferencesProvider"
           contentType="java">
     </relationProvider>
     <relationProvider
           class="org.eclipse.mylar.internal.java.search.XmlJavaRelationProvider"
           contentType="plugin.xml">
     </relationProvider>
	</extension>
	   
	<extension point="org.eclipse.mylar.context.ui.bridges">
	    <uiBridge
	          class="org.eclipse.mylar.internal.java.ui.JavaUiBridge"
	          contentType="java"
	          activeSearchIcon="icons/elcl16/edge-ref-java.gif"
           	  activeSearchLabel="Java Search"/>
	    <labelProvider
	          class="org.eclipse.mylar.internal.java.ui.JavaContextLabelProvider"
	          contentType="java"/>
        <preservedFilters
            viewId="org.eclipse.jdt.ui.PackageExplorer">
       	 	<filter
               class="org.eclipse.jdt.internal.ui.filters.ImportDeclarationFilter">
         	</filter>
         	<filter
               class="org.eclipse.jdt.internal.ui.filters.PackageDeclarationFilter">
         	</filter>
         	<filter
               class="org.eclipse.mylar.internal.java.ui.JavaDeclarationsFilter">
         	</filter>
          <filter
                class="org.eclipse.jdt.internal.ui.filters.ClosedProjectFilter">
          </filter>
        </preservedFilters>
        <preservedFilters
              viewId="org.eclipse.ui.navigator.ProjectExplorer">
           <filter
                 class="org.eclipse.jdt.internal.ui.filters.PackageDeclarationFilter">
           </filter>
           <filter
                 class="org.eclipse.jdt.internal.ui.filters.ImportDeclarationFilter">
           </filter>
        </preservedFilters>
   </extension>

  	<!-- ==================== Context Editing Common Navigator ==================== -->

	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding 
			viewerId="org.eclipse.mylar.context.ui.navigator.context">
			<includes>
				<contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />	
			</includes>
		</viewerContentBinding>
		<viewerContentBinding 
			viewerId="org.eclipse.mylar.context.ui.navigator.context.quick">
			<includes>
				<contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />	
			</includes>
		</viewerContentBinding>
	</extension>

  	<!-- ==================== Editors ==================== -->

	<extension
          point="org.eclipse.mylar.tasks.ui.editors">
       <hyperlinkDetector
             class="org.eclipse.mylar.internal.java.ui.JavaStackTraceHyperlinkDetector"
             id="org.eclipse.mylar.java.hyperlink.detector.stack"/>
    </extension>
	
  	<!-- ==================== Content Assist ==================== -->

	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="javaNoTypeProposalCategory"
		name="Other Java Proposals (Mylar)">
		<proposalCategory
			icon="icons/elcl16/proposals-other.gif"/>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="javaTypeProposalCategory"
		name="Type Proposals (Mylar)">
		<proposalCategory
			icon="icons/elcl16/proposals-type.gif"/>
	</extension>
		<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="templateProposalCategory"
		name="Template Proposals (Mylar)">
		<proposalCategory
			icon="/icons/elcl16/templateprop_co.gif"/>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="javaTypeCompletionProposalComputer">
		<javaCompletionProposalComputer 
			class="org.eclipse.mylar.internal.java.ui.editor.MylarJavaTypeProposalComputer"
			categoryId="org.eclipse.mylar.java.javaTypeProposalCategory">
			<partition type="__dftl_partition_content_type"/>
			<partition type="__java_string"/>
		</javaCompletionProposalComputer>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="javaNoTypeCompletionProposalComputer">
		<javaCompletionProposalComputer 
			class="org.eclipse.mylar.internal.java.ui.editor.MylarJavaNoTypeProposalComputer"
			categoryId="org.eclipse.mylar.java.javaNoTypeProposalCategory">
			<partition type="__dftl_partition_content_type"/>
			<partition type="__java_string"/>
		</javaCompletionProposalComputer>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="TemplateProposalComputer">
		<javaCompletionProposalComputer
			class="org.eclipse.jdt.internal.ui.text.java.TemplateCompletionProposalComputer"
			categoryId="org.eclipse.mylar.java.templateProposalCategory">
			<partition type="__dftl_partition_content_type"/>
			<partition type="__java_singleline_comment"/> <!-- to get NLS templates -->
			<partition type="__java_javadoc"/>
		</javaCompletionProposalComputer>
	</extension>
		<!-- javadoc completions -->   
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="org.eclipse.mylar.java.editor.LegacyJavadocCompletionProposalComputer">
		<javaCompletionProposalComputer 
			class="org.eclipse.jdt.internal.ui.text.javadoc.LegacyJavadocCompletionProposalComputer"
			categoryId="org.eclipse.mylar.java.javaNoTypeProposalCategory">
			<partition type="__java_javadoc"/>
		</javaCompletionProposalComputer>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="org.eclipse.mylar.java.editor.JavadocCompletionProposalComputer">
		<javaCompletionProposalComputer 
			class="org.eclipse.jdt.internal.ui.text.javadoc.JavadocCompletionProposalComputer"
			categoryId="org.eclipse.mylar.java.javaNoTypeProposalCategory">
			<partition type="__java_javadoc"/>
		</javaCompletionProposalComputer>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="org.eclipse.mylar.java.editor.JavadocHTMLCompletionProposalComputer">
		<javaCompletionProposalComputer 
			class="org.eclipse.jdt.internal.ui.text.javadoc.HTMLTagCompletionProposalComputer"
			categoryId="org.eclipse.mylar.java.javaNoTypeProposalCategory">
			<partition type="__java_javadoc"/>
		</javaCompletionProposalComputer>
	</extension>
	<!--
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalSorters">
		<proposalSorter
			id="org.eclipse.mylar.java.ui.editor.proposals.sorter"
			name="Mylar Interest Sorter"
			class="org.eclipse.mylar.internal.java.ui.editor.MylarCompletionInterestSorter"/>
	</extension>
	-->
	
	
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Mylar Context Test"
            delegate="org.eclipse.mylar.internal.java.ui.junit.MylarJUnitLaunchConfiguration"
            modes="run, debug"
            id="org.eclipse.mylar.java.junit.launchconfig"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
         <fileExtension
               default="false"
               extension="java">
         </fileExtension>
         <fileExtension
               default="false"
               extension="class">
         </fileExtension>
      </launchConfigurationType>
         <launchConfigurationType
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="Mylar Context Plug-in Test"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            delegate="org.eclipse.mylar.internal.java.ui.junit.MylarPdeJUnitLaunchConfiguration"
            modes="run, debug"
            id="org.eclipse.mylar.pde.junit.launchconfig">
         <fileExtension
               default="false"
               extension="java">
         </fileExtension>
         <fileExtension
               default="false"
               extension="class">
         </fileExtension>
      </launchConfigurationType>
    </extension>
    
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  	<launchConfigurationTypeImage
	 		id="org.eclipse.mylar.pde.junit.launchconfig.image"
	 		configTypeID="org.eclipse.mylar.pde.junit.launchconfig"
	 		icon="icons/etool16/launch-junit-pde.gif">
	  	</launchConfigurationTypeImage>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  	<launchConfigurationTypeImage
	 		id="org.eclipse.mylar.java.junit.launchconfig.image"
	 		configTypeID="org.eclipse.mylar.java.junit.launchconfig"
	 		icon="icons/etool16/launch-junit.gif">
	  	</launchConfigurationTypeImage>
	</extension>
	
	<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.mylar.java.junit.launchconfig"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            class="org.eclipse.mylar.internal.java.ui.junit.MylarJUnitTabGroup"
            id="org.eclipse.mylar.java.junit.launchconfig.tabgroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Test suite automatically populated by elements in the task context."
               mode="debug">
         </launchMode>
         <launchMode
               description="Test suite automatically populated by elements in the task context."
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
    </extension>

	<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.mylar.pde.junit.launchconfig"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            class="org.eclipse.mylar.internal.java.ui.junit.MylarPdeJUnitTabGroup"
            id="org.eclipse.mylar.pde.junit.launchconfig.tabgroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Test suite automatically populated by elements in the task context."
               mode="debug">
         </launchMode>
         <launchMode
               description="Test suite automatically populated by elements in the task context."
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
    </extension>	

	<!--
	<extension
	     id="org.eclipse.mylar.helpDocs"
	     name="Mylar Help"
	     point="org.eclipse.help.toc">
	  <toc
	        file="doc/toc.xml"
	        primary="false">
	  </toc>
   </extension>
  -->
  
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<viewShortcut id="org.eclipse.mylar.ui.views.active.hierarchy"/>
                <!--
               <viewShortcut id="org.eclipse.mylar.ui.views.active.search"/>
               -->
               <!--
               <view id="org.eclipse.mylar.ui.views.active.search"
                    relative="org.eclipse.ui.views.ContentOutline"
                    relationship="stack"/>-->
          </perspectiveExtension>
   </extension>
 
   <extension point="org.eclipse.ui.viewActions"> 
		<viewContribution 
		id="org.eclipse.mylar.java.explorer.contribution" 
   		targetID="org.eclipse.jdt.ui.PackageExplorer">
    	<action
           class="org.eclipse.mylar.internal.java.ui.actions.FocusPackageExplorerAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylar.actions.filter.packageExplorer"
           label="Focus on Active Task"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task"> 
  		</action> 
      </viewContribution>
 	  <viewContribution
       id="org.eclipse.mylar.ui.views.active.search.contribution"
       targetID="org.eclipse.mylar.ui.views.active.search">
 		</viewContribution>
 		
 	<viewContribution 
		id="org.eclipse.mylar.ui.debug.view.contribution" 
   		targetID="org.eclipse.debug.ui.DebugView">
    	<action
           class="org.eclipse.mylar.internal.java.ui.actions.FocusDebugViewAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylar.ui.actions.FilterResourceNavigatorAction"
           label="Focus on Active Task (Experimental)"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task (Experimental)"> 
  		</action> 
      </viewContribution> 
	</extension>
	
  <extension point="org.eclipse.ui.popupMenus"> 
     <objectContribution
     	   adaptable="false"
           id="org.eclipse.mylar.java.ui.interest"
           objectClass="org.eclipse.jdt.core.IMember">
     	<action
            class="org.eclipse.mylar.internal.context.ui.actions.InterestDecrementAction"
            enablesFor="*"
            icon="icons/elcl16/interest-decrease.gif"
            id="org.eclipse.mylar.java.ui.actions.interest.decrement"
            label="Remove from Focus"
            menubarPath="additions"
            tooltip="Mark selected element as uninteresting">
        </action>
	    <action  
  		  	label="Mark as Landmark" 
	  		tooltip="Mark the selected element as a landmark"
	  		menubarPath="additions" 
	  		id="org.eclipse.mylar.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylar.internal.context.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
     <visibility>
        <or>
           <objectClass
                 name="org.eclipse.jdt.core.IMethod">
           </objectClass>
           <objectClass
                 name="org.eclipse.jdt.core.IField">
           </objectClass>
        </or>
     </visibility>
	 </objectContribution>
     <objectContribution
           adaptable="false"
           id="org.eclipse.mylar.java.ui.interest.contribution.container"
           objectClass="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer">
     	<action
            class="org.eclipse.mylar.internal.context.ui.actions.InterestDecrementAction"
            enablesFor="*"
            icon="icons/elcl16/interest-decrease.gif"
            id="org.eclipse.mylar.java.ui.actions.interest.decrement.container"
            label="Remove from Focus"
            menubarPath="additions"
            tooltip="Mark selected element as uninteresting">
      </action>
     </objectContribution>
  </extension>   

  <extension point="org.eclipse.ui.actionSets">
	<actionSet
            id="org.eclipse.mylar.java.actionSet"
            label="Mylar Java"
            visible="false">
  		<action
          class="org.eclipse.mylar.internal.java.ui.actions.ToggleActiveFoldingAction"
          definitionId="org.eclipse.mylar.java.ui.editor.folding.auto"
          icon="icons/elcl16/interest-folding.gif"
          id="org.eclipse.mylar.java.ui.editor.folding.auto"
          label="Automatically Fold Uninteresting Elements"
          style="toggle"
          toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
          tooltip="Automatically Fold Uninteresting Elements">
      	</action> 
      	<!--
        <action
               definitionId="org.eclipse.mylar.java.ui.search.context"
               label="Search the current task context"
               class="org.eclipse.mylar.internal.java.ui.actions.FindReferencesInContextAction"
               id="org.eclipse.mylar.java.ui.search.context">
         </action>
        -->
    </actionSet>
   </extension>
  
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.mylar.java.actionSet">
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
  
   <extension point="org.eclipse.ui.actionSets">
	<actionSet
            id="org.eclipse.mylar.java.actionSet.browsing"
            label="Mylar Java Browsing"
            visible="false"> 
	    <action
           class="org.eclipse.mylar.internal.java.ui.actions.FocusBrowsingPerspectiveAction"
           id="org.eclipse.mylar.java.ui.actions.ApplyMylarToBrowsingPerspectiveAction"
           style="toggle"
	       label="Apply Mylar" 
	       icon="icons/elcl16/interest-filtering-browsing.gif"
	       tooltip="Focus Java Browsing Views on Active Task"
	       toolbarPath="mylar"
	       enablesFor="*">
	    </action>
  	</actionSet>
  </extension>
  
 <extension point="org.eclipse.ui.actionSetPartAssociations">
	<actionSetPartAssociation targetID="org.eclipse.mylar.java.actionSet.browsing">
         <part id="org.eclipse.jdt.ui.MembersView"/>
         <part id="org.eclipse.jdt.ui.PackagesView"/>
         <part id="org.eclipse.jdt.ui.TypesView"/>
    </actionSetPartAssociation>
  </extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension 
			targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
			<actionSet id="org.eclipse.mylar.java.actionSet.browsing"/>
		</perspectiveExtension>
	</extension>

   <extension point="org.eclipse.jdt.ui.javaElementFilters">
        <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="Java Declarations Filter"
            enabled="false"
            description="Java Declarations Filter"
            class="org.eclipse.mylar.internal.java.ui.JavaDeclarationsFilter"
            id="org.eclipse.mylar.java.ui.MembersFilter">
   		</filter>
  </extension>
  
	<extension point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.mylar.wizards"
            class="org.eclipse.mylar.internal.java.ui.wizards.MylarPreferenceWizard"
            hasPages="true"
            icon="icons/etool16/wizard-prefs.gif"
            id="org.eclipse.mylar.java.ui.wizards.preferences"
            name="Recommended Preferences"
            project="false">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.commands">
	  <command
         categoryId="org.eclipse.mylar.ui.commands"
         description="Search the current task context"
         id="org.eclipse.mylar.java.ui.search.context"
         name="Search Task Context">
      </command>
	  <command
         categoryId="org.eclipse.mylar.ui.commands"
         description="Toggle Active Folding"
         id="org.eclipse.mylar.java.ui.editor.folding.auto"
         name="Toggle Active Folding">
      </command>
   </extension>

<!--
   <extension point="org.eclipse.ui.bindings">   
        <key
            sequence="M1+M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.ui.interest.increment"
            schemeId ="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
	  <key
            sequence="M1+M2+M3+G"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.java.ui.search.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
	  <key
            sequence="M1+M2+M3+F"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.java.ui.editor.folding.auto"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension> 
-->
</plugin>
