<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="newWizards" name="newWizards" schema="schema/newWizards.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.team.ui"
            class="org.eclipse.mylyn.internal.commons.ui.team.RepositoriesView"
            icon="icons/eview16/repositories.gif"
            id="org.eclipse.mylyn.commons.team.navigator.Repositories"
            name="Team Repositories">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.commons.team.navigator.Repositories">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.mylyn.commons.team.navigator.Repositories">
         <includes>
            <contentExtension
                  pattern="org.eclipse.mylyn.commons.team.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.mylyn.commons.team.navigator.Repositories">
         <includes>
            <actionExtension
                  pattern="org.eclipse.mylyn.commons.team.navigator.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.mylyn.internal.commons.ui.team.RepositoryCategoryContentProvider"
            icon="icons/obj16/folder.gif"
            id="org.eclipse.mylyn.commons.team.navigator.RepositoryCategories"
            labelProvider="org.eclipse.mylyn.internal.commons.ui.team.RepositoryLabelProvider"
            name="Categories">
         <possibleChildren>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <instanceof
                  value="org.eclipse.mylyn.commons.repositories.RepositoryCategory">
            </instanceof></triggerPoints>
         <commonSorter
               class="org.eclipse.mylyn.internal.commons.ui.team.RepositoryCategorySorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.mylyn.internal.commons.ui.team.EmptyRepositoryCategoriesFilter"
            id="org.eclipse.mylyn.commons.team.navigator.filter.EmptyCategories"
            name="Empty Categories"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.team.ui.category.team"
            defaultHandler="org.eclipse.mylyn.internal.commons.ui.team.NewRepositoryHandler"
            id="org.eclipse.mylyn.commons.ui.command.AddRepository"
            name="Add Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
            icon="icons/etool16/repository-new.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.mylyn.commons.team.navigator.Repositories">
         <command
               commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
               label="Add Repository..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.mylyn.commons.team.navigator.Repositories?after=group.new">
         <menu
               id="new"
               label="New">
            <command
                  commandId="org.eclipse.mylyn.commons.ui.command.AddRepository"
                  label="Repository..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.mylyn.commons.team.navigator.Repositories?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.mylyn.commons.team.navigator.Repositories?after=group.goto">
         <menu
               label="Show In">
            <dynamic
                  class="org.eclipse.mylyn.internal.commons.ui.team.ShowInMenuContribution"
                  id="org.eclipse.mylyn.commons.team.showIn">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <not>
                        <instanceof
                              value="org.eclipse.mylyn.commons.repositories.RepositoryCategory">
                        </instanceof>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.mylyn.commons.team.navigator.Repositories?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
