<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.TextileMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.textileTaskEditorExtension"
            name="%taskEditorExtension.name.1">
      </taskEditorExtension>
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.BugzillaTextileMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.bugzillaTextileTaskEditorExtension"
            name="%taskEditorExtension.name.2">
      </taskEditorExtension>
      <repositoryAssociation
            connectorKind="bugzilla"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.bugzillaTextileTaskEditorExtension">
      </repositoryAssociation>
      <repositoryAssociation
            connectorKind="local"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.textileTaskEditorExtension">
      </repositoryAssociation>
   </extension>

	<extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.TracWikiMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.tracWikiTaskEditorExtension"
            name="%taskEditorExtension.name.3">
      </taskEditorExtension>
      <repositoryAssociation
      		connectorKind="trac"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.tracWikiTaskEditorExtension">
      </repositoryAssociation>
   </extension>
   
   
   <extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.TWikiMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.twikiTaskEditorExtension"
            name="%taskEditorExtension.name.0">
      </taskEditorExtension>
      <repositoryAssociation
      		connectorKind="xplanner"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.twikiTaskEditorExtension">
      </repositoryAssociation>
   </extension>
   
      <extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.MediaWikiMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.mediaWikiTaskEditorExtension"
            name="%taskEditorExtension.name.4">
      </taskEditorExtension>
   </extension>
   
   <extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <taskEditorExtension
            class="org.eclipse.mylyn.internal.wikitext.tasks.ui.editor.ConfluenceMarkupTaskEditorExtension"
            id="org.eclipse.mylyn.wikitext.tasks.ui.editor.confluenceTaskEditorExtension"
            name="%taskEditorExtension.name.5">
      </taskEditorExtension>
      <repositoryAssociation
            connectorKind="jira"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.confluenceTaskEditorExtension">
      </repositoryAssociation>
   </extension>
   
</plugin>
