<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
    <extension-point id="bridges" name="bridges" schema="schema/bridges.exsd"/>

    <extension 
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge 
      		class="org.eclipse.mylyn.internal.context.ui.TaskStructureBridge"/> 
   </extension>
   <extension 
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.eclipse.mylyn.internal.context.ui.TaskUiBridge"
            contentType="meta/task"/>
   </extension>   
 
 	<extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      	<editorFactory class="org.eclipse.mylyn.internal.context.ui.editors.ContextEditorFactory"/>
   	</extension>
 
  	<extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.mylyn.ui.interest"
        objectClass="org.eclipse.mylyn.context.core.IInteractionElement">
     	<action  
  		  	label="Mark Less Interesting" 
	  		tooltip="Mark selected element as uninteresting"
	  		menubarPath="additions" 
	  		id="org.eclipse.mylyn.context.ui.actions.InterestDecrementAction" 
	  		class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
	  		icon="icons/elcl16/interest-decrease.gif"
	  		enablesFor="*"/>
	    <action  
  		  	label="Mark as Landmark" 
	  		tooltip="Make selected element a landmark"
	  		menubarPath="additions" 
	  		id="org.eclipse.mylyn.context.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
	 </objectContribution> 
	 
	 <objectContribution
            adaptable="false"
            id="org.eclipse.mylyn.ide.team.ui.contribution.attachment.patch"
            objectClass="org.eclipse.mylyn.tasks.core.RepositoryAttachment">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.ContextRetrieveAction"
               icon="icons/etool16/context-retrieve.gif"
               id="org.eclipse.mylyn.ui.context.repository.retrieve"
               label="Retrieve Context..."
               menubarPath="actions">
         </action>
      </objectContribution>
	 
	 <!--
     <viewerContribution 
           id="org.eclipse.mylyn.ui.tasklist.contribution"
           targetID="org.eclipse.mylyn.tasks.ui.views.TaskListView">
        <action
              class="org.eclipse.mylyn.internal.ui.actions.ContextClearAction"
              enablesFor="1"
              icon="icons/elcl16/context-clear.gif"
              id="org.eclipse.mylyn.ui.clear.context"
              label="Clear Context"
              menubarPath="context"
              tooltip="Clear Context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylyn.tasks.core.ITask"/>
                 <objectClass name="org.eclipse.mylyn.tasks.core.AbstractQueryHit"/>
              </or>
           </enablement>
        </action>
        <action
              class="org.eclipse.mylyn.internal.ui.actions.ContextRetrieveAction"
              enablesFor="1"
              icon="icons/etool16/context-retrieve.gif"
              id="org.eclipse.mylyn.ui.context.repository.retrieve"
              label="Retrieve Context"
              menubarPath="context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylyn.tasks.core.AbstractQueryHit"/>
                 <objectClass name="org.eclipse.mylyn.tasks.core.AbstractRepositoryTask"/>
              </or>
           </enablement>
        </action> 
        <action
              class="org.eclipse.mylyn.internal.ui.actions.ContextAttachAction"
              enablesFor="1"
              icon="icons/etool16/context-attach.gif"
              id="org.eclipse.mylyn.ui.context.repository.attach"
              label="Attach Context..."
              menubarPath="context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylyn.tasks.core.AbstractRepositoryTask"/>
                 <objectClass name="org.eclipse.mylyn.tasks.core.AbstractQueryHit"/>
              </or>
           </enablement>
        </action>
             </viewerContribution>
        -->

	 <objectContribution
           adaptable="false"
           id="org.eclipse.mylyn.ui.tasks.action.contribution"
           objectClass="org.eclipse.mylyn.tasks.core.ITask">
		<action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextClearAction"
              enablesFor="1"
              icon="icons/elcl16/context-clear.gif"
              id="org.eclipse.mylyn.ui.clear.context"
              label="Clear Context"
              menubarPath="context"
              tooltip="Clear Context">
        </action>
  		<action
        	class="org.eclipse.mylyn.internal.context.ui.actions.ContextCopyAction"
        	icon="icons/elcl16/context-transfer.gif"
        	id="org.eclipse.mylyn.context.ui.action.copy.context.to"
        	label="Copy Context to..."
        	menubarPath="context"
        	tooltip="Copy Context to...">
  		</action>
	 </objectContribution>
     <objectContribution
           adaptable="false"
           id="org.eclipse.mylyn.ui.tasks.repository.hits..action.contribution"
           objectClass="org.eclipse.mylyn.tasks.core.AbstractRepositoryTask">
        <action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextRetrieveAction"
              enablesFor="1"
              icon="icons/etool16/context-retrieve.gif"
              id="org.eclipse.mylyn.ui.context.repository.retrieve"
              label="Retrieve Context..."
              menubarPath="context">
        </action> 
        <action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextAttachAction"
              enablesFor="1"
              icon="icons/etool16/context-attach.gif"
              id="org.eclipse.mylyn.ui.context.repository.attach"
              label="Attach Context..."
              menubarPath="context">
        </action>
	 </objectContribution>
	 <!-- NOTE: duplicate actions as above -->
	 <!--<objectContribution
           adaptable="false"
           id="org.eclipse.mylyn.ui.tasks.repository.action.contribution"
           objectClass="org.eclipse.mylyn.tasks.core.AbstractQueryHit">
        <action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextRetrieveAction"
              enablesFor="1"
              icon="icons/etool16/context-retrieve.gif"
              id="org.eclipse.mylyn.ui.context.repository.retrieve"
              label="Retrieve Context"
              menubarPath="context">
        </action> 
        <action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextAttachAction"
              enablesFor="1"
              icon="icons/etool16/context-attach.gif"
              id="org.eclipse.mylyn.ui.context.repository.attach"
              label="Attach Context..."
              menubarPath="context">
        </action>
        <action
              class="org.eclipse.mylyn.internal.context.ui.actions.ContextClearAction"
              enablesFor="1"
              icon="icons/elcl16/context-clear.gif"
              id="org.eclipse.mylyn.ui.clear.context.hit"
              label="Clear Context"
              menubarPath="context"
              tooltip="Clear Context">
        </action>
          <action
        class="org.eclipse.mylyn.internal.context.ui.actions.ContextCopyAction"
        icon="icons/elcl16/context-transfer.gif"
        id="org.eclipse.mylyn.context.ui.action.copy.context.to"
        label="Copy Context to..."
        menubarPath="context"
        tooltip="Copy Context to...">
  </action>
	 </objectContribution>-->
   </extension>
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context"
            class="org.eclipse.mylyn.internal.context.ui.preferences.ContextUiPreferencePage"
            id="org.eclipse.mylyn.context.ui.preferences"
            category="org.eclipse.mylyn.ui.preferences">
         <keywordReference id="org.eclipse.mylyn.context.keywords"/>
      </page> 
   </extension>
   
   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="mylar context"
            id="org.eclipse.mylyn.context.keywords"/>
   </extension>
 
	<!-- ==================== Common Navigator ==================== -->
	
    <extension
         point="org.eclipse.ui.navigator.viewer">
       <!--
       <viewer
             viewerId="org.eclipse.mylyn.context.ui.navigator.context">
          <popupMenu
                allowsPlatformContributions="false"
                id="org.eclipse.mylyn.context.ui.navigator.context#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   	name="group.open"
                   	separator="true"/>
             <insertionPoint 
             		name="group.openWith"/>     
             <insertionPoint
                   name="additions"
                   separator="true"/>              
			 <insertionPoint
                   name="group.port"
                   separator="true"/>  
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
          </popupMenu>
       </viewer>
       -->
       <viewerContentBinding 
             viewerId="org.eclipse.mylyn.context.ui.navigator.context">
          <includes>
       	      <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>		       	      
          </includes>
       </viewerContentBinding>
       
       <viewerContentBinding 
             viewerId="org.eclipse.mylyn.context.ui.navigator.context.quick">
          <includes>
       	      <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>		       	      
          </includes>
       </viewerContentBinding>
       
       <viewerActionBinding
            viewerId="org.eclipse.mylyn.context.ui.navigator.context">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
   </extension>	
 
	<!-- ==================== Markers ==================== -->
	
    <extension point="org.eclipse.ui.ide.markerImageProviders">
    <imageprovider 
  		markertype="org.eclipse.mylyn.ui.landmark" 
  		icon="icons/elcl16/interest-landmark.gif" 
  		id="org.eclipse.mylyn.landmarkMarkerProvider" /> 
   </extension> 
  
  <extension point="org.eclipse.ui.editors.annotationTypes">
  	<type
         markerSeverity="0"
         markerType="org.eclipse.mylyn.ui.landmark"
         name="org.eclipse.mylyn.ui.landmark.annotation"/> 
  </extension> 
   
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
  	<specification annotationType="org.eclipse.mylyn.ui.landmark.annotation" 
  		label="Mylar Landmark" 
  		icon="icons/elcl16/interest-landmark.gif" 
  		textPreferenceKey="landmarkIndication" 
  		textPreferenceValue="false" 
  		highlightPreferenceKey="landmarkHighlighting" 
  		highlightPreferenceValue="true" 
  		contributesToHeader="true" 
  		overviewRulerPreferenceKey="landmarkIndicationInOverviewRuler" 
  		overviewRulerPreferenceValue="true" 
  		verticalRulerPreferenceKey="landmarkIndicationInVerticalRuler" 
  		verticalRulerPreferenceValue="true" 
  		colorPreferenceKey="landmarkIndicationColor" 
  		colorPreferenceValue="255,255,255" 
  		presentationLayer="0" 
  		showInNextPrevDropdownToolbarActionKey="showLandmarkInNextPrevDropdownToolbarAction" 
  		showInNextPrevDropdownToolbarAction="true" /> 
  </extension>
    
      <!--  ACTION STUFF -->
    
   <extension
       	 point="org.eclipse.ui.actionSets">
   	  <actionSet
            label="Mylar"
            description="Mylar"
            visible="true"
            id="org.eclipse.mylyn.ui.mylar.actionSet">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
               definitionId="org.eclipse.mylyn.ui.interest.decrement"
               icon="icons/elcl16/interest-decrease.gif"
               id="org.eclipse.mylyn.ui.actions.InterestDecrementAction"
               label="Mark Less Interesting"
               menubarPath="navigate/open.ext2">
         </action>
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
               definitionId="org.eclipse.mylyn.ui.interest.increment"
               icon="icons/elcl16/interest-increase.gif"
               id="org.eclipse.mylyn.ui.actions.InterestIncrementAction"
               label="Mark as Landmark"
               menubarPath="navigate/open.ext2">
         </action>
	
	     <action
               definitionId="org.eclipse.mylyn.ui.context.dialog.show"
               label="Quick Context View"
               class="org.eclipse.mylyn.internal.context.ui.actions.OpenQuickContextPopupDialog"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylyn.context.ui.actions.open.context.dialog">
         </action>
         <!--
         <action
               definitionId="org.eclipse.mylyn.ui.related.show"
               label="Open Mylar related elements"
               class="org.eclipse.mylyn.ui.actions.OpenRelatedElementsQuickView"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylyn.ui.actions.OpenRelatedElementsQuickView">
         </action>
         <action
               definitionId="org.eclipse.mylyn.ui.show.filtered"
               label="Make less interesting"
               class="org.eclipse.mylyn.ui.actions.ShowFilteredAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylyn.ui.actions.ShowFilteredAction">
         </action>
         -->
      </actionSet>
   </extension>
                              
   <extension point="org.eclipse.ui.commands">
      <category
            name="Mylar"
            description="Mylar commands"
            id="org.eclipse.mylyn.ui.commands">
      </category>
      <command
            name="Global Filtering"
            id="org.eclipse.mylyn.ui.interest.filter.global"
            categoryId="org.eclipse.mylyn.ui.commands">
      </command>
      <command
            name="Show Related Elements"
            description="Show Related Elements"
            id="org.eclipse.mylyn.ui.context.dialog.show"
            categoryId="org.eclipse.mylyn.ui.commands">
      </command>
      <command
            name="Make Landmark"
            description="Make Landmark"
            id="org.eclipse.mylyn.ui.interest.increment"
            categoryId="org.eclipse.mylyn.ui.commands">
      </command>
      <command
            name="Make Less Interesting"
            description="Make Less Interesting"
            id="org.eclipse.mylyn.ui.interest.decrement"
            categoryId="org.eclipse.mylyn.ui.commands">
      </command>
      <!--
      <command
            name="Show Filtered Children"
            description="Show Filtered Children"
            id="org.eclipse.mylyn.ui.show.filtered"
            categoryId="org.eclipse.mylyn.ui">
      </command>
      -->
   </extension>
     
   <extension point="org.eclipse.ui.bindings">     
      <key
            sequence="M1+M2+M3+ARROW_UP"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylyn.ui.interest.increment"
            schemeId ="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+M3+ARROW_DOWN"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylyn.ui.interest.decrement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylyn.ui.context.dialog.show"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key> 
	  <!--
      <key
            sequence="M1+M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylyn.ui.show.filtered"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key> 
      -->
   </extension>     

   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            label="Mylar Interest Decorator"
            class="org.eclipse.mylyn.internal.context.ui.InterestDecoratorLightweight"
            state="true"
            id="org.eclipse.mylyn.ui.decorator.interest">
         <description>
			Mylar degree of interest decorator
		 </description>
         <enablement>
            <objectClass name="java.lang.Object"/>
         </enablement>
      </decorator>
   </extension>

 <extension point="org.eclipse.ui.viewActions"> 
 	<viewContribution 
		id="org.eclipse.mylyn.ui.tasklist.apply" 
   		targetID="org.eclipse.mylyn.tasks.ui.views.TaskListView">
    	<action
           class="org.eclipse.mylyn.internal.context.ui.actions.FocusTaskListAction"
           enablesFor="*"
           icon="icons/eview16/mylar-apply-activity.gif"
           id="org.eclipse.mylyn.ui.actions.ApplyMylarToOutlineAction"
           label="Focus on Workweek"
           menubarPath="additions"
           style="toggle"
           toolbarPath="context"
           tooltip="Focus on Workweek"> 
  		</action> 
  	</viewContribution>
	<viewContribution 
		id="org.eclipse.mylyn.outline.contribution.filter" 
   		targetID="org.eclipse.ui.views.ContentOutline">
    	<action
           class="org.eclipse.mylyn.internal.context.ui.actions.FocusOutlineAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylyn.ui.actions.ApplyMylarToOutlineAction"
           label="Focus on Active Task (Alt+click to reveal filtered elements)"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Focus on Active Task"> 
  		</action> 
  	</viewContribution>
    <viewContribution
         id="org.eclipse.mylyn.tasks.contribution.context"
         targetID="org.eclipse.mylyn.tasks.ui.views.TaskListView">
      <action
            class="org.eclipse.mylyn.internal.context.ui.actions.ContextCapturePauseAction"
            icon="icons/elcl16/capture-pause.gif"
            id="org.eclipse.mylyn.ui.context.capture.pause"
            label="Pause Capturing Context"
            menubarPath="additions"
            style="toggle"
            tooltip="Pause Capturing Context"/>
   </viewContribution>
   </extension>
   
   <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.eclipse.mylyn.internal.context.ui.commands.FocusViewHandler"
             id="org.eclipse.mylyn.ui.commands.applyMylar"
             name="Apply Mylar to View">
          <commandParameter
                id="viewId"
                name="View ID to apply Mylar"
                optional="false"/>
       </command>
   </extension>
    
 
   <!--
   <extension point="org.eclipse.ui.workingSets">
        <workingSet
            id="org.eclipse.mylyn.workingSetPage"
            name="Mylar Task Context"
            icon="icons/elcl16/interest-working-set.gif"
            pageClass="org.eclipse.mylyn.internal.context.ui.MylarWorkingSetPage"
            updaterClass="org.eclipse.mylyn.internal.context.ui.MylarWorkingSetManager">
        </workingSet>
    </extension>
    -->
</plugin>

	    <!--
	  	<action id="org.eclipse.mylyn.ui.actions.ShowFilteredAction" 
              label="Raise children" 
	      	  menubarPath="mylar" 
              icon="icons/elcl16/raise-children.gif" 
              tooltip="Show all children of the current element" 
              class="org.eclipse.mylyn.ui.actions.ShowFilteredAction" 
              enablesFor="1"/> 
          --> 
