<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
    <extension-point id="context" name="context" schema="schema/context.exsd"/>
 
    <extension
         point="org.eclipse.mylar.core.context">
      <structureBridge class="org.eclipse.mylar.internal.ui.TaskStructureBridge"/> 
   </extension>
   <extension
         point="org.eclipse.mylar.ui.context">
      <uiBridge
            class="org.eclipse.mylar.internal.ui.TaskUiBridge"
            contentType="meta/task"/>
   </extension>   
 
  	<extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.mylar.ui.interest"
        objectClass="org.eclipse.mylar.provisional.core.IMylarElement">
     	<action  
  		  	label="Mylar: Mark as Less Interesting" 
	  		tooltip="Mark selected element as uninteresting"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.ui.actions.InterestDecrementAction" 
	  		class="org.eclipse.mylar.internal.ui.actions.InterestDecrementAction"
	  		icon="icons/elcl16/interest-decrease.gif"
	  		enablesFor="*"/>
	    <action  
  		  	label="Mylar: Mark as Landmark" 
	  		tooltip="Make selected element a landmark"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylar.internal.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
	 </objectContribution> 
	 
     <viewerContribution 
           id="org.eclipse.mylar.ui.tasklist.contribution"
           targetID="org.eclipse.mylar.tasks.ui.views.TaskListView">
        <action
              class="org.eclipse.mylar.internal.ui.actions.ContextClearAction"
              enablesFor="1"
              icon="icons/elcl16/context-clear.gif"
              id="org.eclipse.mylar.ui.clear.context"
              label="Clear Context"
              menubarPath="context"
              tooltip="Clear Context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.ITask"/>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.AbstractQueryHit"/>
              </or>
           </enablement>
        </action>
        <action
              class="org.eclipse.mylar.internal.ui.actions.ContextRetrieveAction"
              enablesFor="1"
              icon="icons/etool16/context-retrieve.gif"
              id="org.eclipse.mylar.ui.context.repository.retrieve"
              label="Retrieve Context"
              menubarPath="context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.AbstractQueryHit"/>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.AbstractRepositoryTask"/>
              </or>
           </enablement>
        </action> 
        <action
              class="org.eclipse.mylar.internal.ui.actions.ContextAttachAction"
              enablesFor="1"
              icon="icons/etool16/context-attach.gif"
              id="org.eclipse.mylar.ui.context.repository.attach"
              label="Attach Context..."
              menubarPath="context">
           <enablement>
              <or>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.AbstractRepositoryTask"/>
                 <objectClass name="org.eclipse.mylar.provisional.tasklist.AbstractQueryHit"/>
              </or>
           </enablement>
        </action>
        
        <!--
        <action
              class="org.eclipse.mylar.tasklist.ui.actions.TaskActivateAction"
              id="org.eclipse.mylar.tasklist.actions.context.activate"
              label="Activate Task"
              menubarPath="task"
              tooltip="Activate Task"/>
        -->
     </viewerContribution>
  </extension>
    
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Mylar"
            class="org.eclipse.mylar.internal.ui.preferences.MylarPreferencePage"
            id="org.eclipse.mylar.ui.preferences">
      </page>  
   </extension>
 
  <!--  MARKER STUFF -->
  
    <extension point="org.eclipse.ui.ide.markerImageProviders">
    <imageprovider 
  		markertype="org.eclipse.mylar.ui.landmark" 
  		icon="icons/elcl16/interest-landmark.gif" 
  		id="org.eclipse.mylar.landmarkMarkerProvider" /> 
   </extension> 
  
  <extension point="org.eclipse.ui.editors.annotationTypes">
  	<type
         markerSeverity="0"
         markerType="org.eclipse.mylar.ui.landmark"
         name="org.eclipse.mylar.ui.landmark.annotation"/> 
  </extension> 
   
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
  	<specification annotationType="org.eclipse.mylar.ui.landmark.annotation" 
  		label="Mylar Landmark" 
  		icon="icons/elcl16/interest-landmark.gif" 
  		textPreferenceKey="landmarkIndication" 
  		textPreferenceValue="false" 
  		highlightPreferenceKey="landmarkHighlighting" 
  		highlightPreferenceValue="true" 
  		contributesToHeader="true" 
  		overviewRulerPreferenceKey="landmarkIndicationInOverviewRuler" 
  		overviewRulerPreferenceValue="true" 
  		verticalRulerPreferenceKey="landmarkIndicationInVerticalRuler" 
  		verticalRulerPreferenceValue="true" 
  		colorPreferenceKey="landmarkIndicationColor" 
  		colorPreferenceValue="255,255,255" 
  		presentationLayer="0" 
  		showInNextPrevDropdownToolbarActionKey="showLandmarkInNextPrevDropdownToolbarAction" 
  		showInNextPrevDropdownToolbarAction="true" /> 
  </extension>
    
      <!--  ACTION STUFF -->
    
   <extension
       	 point="org.eclipse.ui.actionSets">
   	  <actionSet
            label="Mylar"
            description="Mylar"
            visible="true"
            id="org.eclipse.mylar.ui.mylar.actionSet">
         <action
               definitionId="org.eclipse.mylar.ui.interest.increment"
               label="Make landmark"
               class="org.eclipse.mylar.internal.ui.actions.InterestIncrementAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylar.ui.actions.InterestIncrementAction">
         </action>
         <action
               definitionId="org.eclipse.mylar.ui.interest.decrement"
               label="Make less interesting"
               class="org.eclipse.mylar.internal.ui.actions.InterestDecrementAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylar.ui.actions.InterestDecrementAction">
         </action>
         <!--
         <action
               definitionId="org.eclipse.mylar.ui.related.show"
               label="Open Mylar related elements"
               class="org.eclipse.mylar.ui.actions.OpenRelatedElementsQuickView"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylar.ui.actions.OpenRelatedElementsQuickView">
         </action>
         <action
               definitionId="org.eclipse.mylar.ui.show.filtered"
               label="Make less interesting"
               class="org.eclipse.mylar.ui.actions.ShowFilteredAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.mylar.ui.actions.ShowFilteredAction">
         </action>
         -->
      </actionSet>
   </extension>
                              
   <extension point="org.eclipse.ui.commands">
      <category
            name="Mylar"
            description="Mylar commands"
            id="org.eclipse.mylar.ui">
      </category>
      <command
            name="Global Filtering"
            id="org.eclipse.mylar.ui.interest.filter.global"
            categoryId="org.eclipse.mylar.ui">
      </command>
      <command
            name="Show Related Elements"
            description="Show Related Elements"
            id="org.eclipse.mylar.ui.related.show"
            categoryId="org.eclipse.mylar.ui">
      </command>
      <command
            name="Make Landmark"
            description="Make Landmark"
            id="org.eclipse.mylar.ui.interest.increment"
            categoryId="org.eclipse.mylar.ui">
      </command>
      <command
            name="Make Less Interesting"
            description="Make Less Interesting"
            id="org.eclipse.mylar.ui.interest.decrement"
            categoryId="org.eclipse.mylar.ui">
      </command>
      <!--
      <command
            name="Show Filtered Children"
            description="Show Filtered Children"
            id="org.eclipse.mylar.ui.show.filtered"
            categoryId="org.eclipse.mylar.ui">
      </command>
      -->
   </extension>
     
   <extension point="org.eclipse.ui.bindings">     
      <key
            sequence="M1+M2+M3+ARROW_UP"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.ui.interest.increment"
            schemeId ="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+M3+ARROW_DOWN"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.ui.interest.decrement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+M3+ARROW_LEFT"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.ui.related.show"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key> 
	  <!--
      <key
            sequence="M1+M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.ui.show.filtered"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key> 
      -->
   </extension>     

   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            label="Mylar Interest Decorator"
            class="org.eclipse.mylar.internal.ui.InterestDecoratorLightweight"
            state="true"
            id="org.eclipse.mylar.ui.decorator.interest">
         <description>
			Mylar degree of interest decorator
		 </description>
         <enablement>
            <objectClass name="java.lang.Object"/>
         </enablement>
      </decorator>
   </extension>

 <extension point="org.eclipse.ui.viewActions"> 
 	<viewContribution 
		id="org.eclipse.mylar.ui.tasklist.apply" 
   		targetID="org.eclipse.mylar.tasks.ui.views.TaskListView">
    	<action
           class="org.eclipse.mylar.internal.ui.actions.ApplyMylarToTaskListAction"
           enablesFor="*"
           icon="icons/eview16/mylar-apply-activity.gif"
           id="org.eclipse.mylar.ui.actions.ApplyMylarToOutlineAction"
           label="Apply Mylar (Experimental)"
           style="toggle"
           toolbarPath="context"
           tooltip="Apply Mylar (Experimental)"> 
  		</action> 
  	</viewContribution>
	<viewContribution 
		id="org.eclipse.mylar.outline.contribution.filter" 
   		targetID="org.eclipse.ui.views.ContentOutline">
    	<action
           class="org.eclipse.mylar.internal.ui.actions.ApplyMylarToOutlineAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.eclipse.mylar.ui.actions.ApplyMylarToOutlineAction"
           label="Apply Mylar"
           menubarPath="mylar"
           style="toggle"
           toolbarPath="mylar"
           tooltip="Apply Mylar"> 
  		</action> 
  	</viewContribution>
    <viewContribution
         id="org.eclipse.mylar.tasklist.contribution.context"
         targetID="org.eclipse.mylar.tasks.ui.views.TaskListView">
      <action
            class="org.eclipse.mylar.internal.ui.actions.ToggleContextCaptureAction"
            icon="icons/elcl16/capture-pause.gif"
            id="org.eclipse.mylar.ui.context.capture.pause"
            label="Pause Capturing Context"
            style="toggle"
            toolbarPath="context"
            tooltip="Pause Capturing Context"/>
   </viewContribution>
   </extension>
   
   <extension point="org.eclipse.mylar.tasklist.providers"> 
      <dynamicPopupMenu class="org.eclipse.mylar.internal.ui.TaskListHighlighterMenuContributor"/>
   </extension>
 
      <extension point="org.eclipse.ui.workingSets">
        <workingSet
            id="org.eclipse.mylar.workingSetPage"
            name="Mylar Task Context"
            icon="icons/elcl16/interest-working-set.gif"
            pageClass="org.eclipse.mylar.internal.ui.MylarWorkingSetPage"
            updaterClass="org.eclipse.mylar.internal.core.search.MylarWorkingSetUpdater">
        </workingSet>
    </extension>
</plugin>

	    <!--
	  	<action id="org.eclipse.mylar.ui.actions.ShowFilteredAction" 
              label="Raise children" 
	      	  menubarPath="mylar" 
              icon="icons/elcl16/raise-children.gif" 
              tooltip="Show all children of the current element" 
              class="org.eclipse.mylar.ui.actions.ShowFilteredAction" 
              enablesFor="1"/> 
          --> 
