<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="pluginRepositoryMappings" name="Plug-in to Repository Mappings" schema="schema/pluginRepositoryMappings.exsd"/>
   <extension-point id="taskContributors" name="Task Contributors" schema="schema/taskContributors.exsd"/>
   
   <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
              adaptable="false"
              id="org.eclipse.mylyn.internal.provisional.tasks.bugs.objectContribution"
              objectClass="org.eclipse.ui.internal.views.log.LogEntry">
			<action
		         class="org.eclipse.mylyn.internal.tasks.bugs.actions.NewTaskFromErrorAction"
		         enablesFor="1"
		         icon="icons/etool16/task-repository-new.gif"
		         menubarPath="org.eclipse.pde.runtime.LogView"
		         id="org.eclipse.mylyn.tasklist.actions.newTaskFromErrorLog"
		         label="Report as Bug">
             </action>
        </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
		<actionSet
            id="org.eclipse.mylyn.doc.actionSet"
            label="Mylyn Help"
            visible="true"> 
        <action
              class="org.eclipse.mylyn.internal.tasks.bugs.actions.ReportBugAction"
              icon="icons/etool16/report-bug.gif"
              id="org.eclipse.mylyn.tasks.ui.bug.report"
              label="Report Bug or Enhancement..."
              menubarPath="help/helpStart"
              style="push"
              tooltip="Report Bug or Enhancement"/> 
    	</actionSet>
   </extension>
  
   <extension
         point="org.eclipse.ui.handlers">
       <handler
            class="org.eclipse.mylyn.internal.tasks.bugs.actions.NewTaskFromMarkerHandler"
            commandId="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker">
            <activeWhen>
				<with variable="activePart">
                    <or>
                       <test
                             args="org.eclipse.ui.ide.allMarkersGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>
                       <test
                             args="org.eclipse.ui.ide.tasksGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>                       
                       <test
                             args="org.eclipse.ui.ide.bookmarksGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>   
                       <test
                             args="org.eclipse.ui.ide.problemsGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>   
                    </or>
                 </with>
			</activeWhen>
			<enabledWhen>
				<count
					value="1">
				</count>
			</enabledWhen>       
      </handler>
   </extension>
 
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Report as Bug from Marker"
            id="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker"
            name="New Task from Marker...">
      </command>
   </extension>
 
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="popup:org.eclipse.ui.ide.MarkersView?after=org.eclipse.ui.ide.markCompleted">
            <command
                  commandId="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker"
                  icon="icons/etool16/task-new.gif"
                  mnemonic="New Task from Marker"
                  style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with variable="activePart">
                    <or>
                       <test
                             args="org.eclipse.ui.ide.allMarkersGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>
                       <test
                             args="org.eclipse.ui.ide.tasksGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>                       
                       <test
                             args="org.eclipse.ui.ide.bookmarksGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>   
                       <test
                             args="org.eclipse.ui.ide.problemsGenerator"
                             property="org.eclipse.ui.ide.contentGenerator">
                       </test>   
                    </or>
                 </with>
              </visibleWhen>
           </command>
      </menuContribution>
     </extension>
  
</plugin>
