<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="pluginRepositoryMappings" name="Plug-in to Repository Mappings" schema="schema/pluginRepositoryMappings.exsd"/>
   <extension-point id="taskContributors" name="Task Contributors" schema="schema/taskContributors.exsd"/>
   
   <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
              adaptable="false"
              id="org.eclipse.mylyn.internal.provisional.tasks.bugs.objectContribution"
              objectClass="org.eclipse.ui.internal.views.log.LogEntry">
			<action
		         class="org.eclipse.mylyn.internal.tasks.bugs.actions.NewTaskFromErrorAction"
		         enablesFor="1"
		         icon="icons/etool16/task-repository-new.gif"
		         menubarPath="org.eclipse.pde.runtime.LogView"
		         id="org.eclipse.mylyn.tasklist.actions.newTaskFromErrorLog"
		         label="%NewTaskFromErrorAction.label">
             </action>
        </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
		<actionSet
            id="org.eclipse.mylyn.doc.actionSet"
            label="%actionSet.label"
            visible="true"> 
        <action
              class="org.eclipse.mylyn.internal.tasks.bugs.actions.ReportBugAction"
              icon="icons/etool16/report-bug.gif"
              id="org.eclipse.mylyn.tasks.ui.bug.report"
              label="%ReportBugAction.label"
              menubarPath="help/helpStart"
              style="push"
              tooltip="%ReportBugAction.tooltip"/> 
    	</actionSet>
   </extension>
  
   <extension
         point="org.eclipse.ui.handlers">
       <handler
            class="org.eclipse.mylyn.internal.tasks.bugs.actions.NewTaskFromMarkerHandler"
            commandId="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker">
            <activeWhen>
                <with variable="activePart">
                    <test
                         args="any"
                         property="org.eclipse.ui.ide.contentGenerator">
                    </test>
                </with>
            </activeWhen>
            <enabledWhen>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.ui.internal.views.markers.MarkerEntry">
                        </instanceof>
                     </iterate>
                  </and>
            </enabledWhen>       
      </handler>
   </extension>
 
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%commands.newTaskFromMarker.description"
            id="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker"
            name="%commands.newTaskFromMarker.name">
      </command>
   </extension>
 
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="popup:org.eclipse.ui.ide.MarkersView?after=org.eclipse.ui.ide.markCompleted">
            <command
                  commandId="org.eclipse.mylyn.tasks.bugs.commands.newTaskFromMarker"
                  icon="icons/etool16/task-new.gif"
                  mnemonic="%commands.newTaskFromMarker.mnemonic"
                  style="push">
              <visibleWhen
                    checkEnabled="true">
              </visibleWhen>
           </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.mylyn.commons.core.errorReporters">
      <errorReporter
            class="org.eclipse.mylyn.internal.tasks.bugs.TasksBugsPlugin$BugReporter"
            id="org.eclipse.mylyn.tasks.bugs.taskReporter"
            label="%BugReporter.label">
      </errorReporter>
   </extension>
  
</plugin>
