<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.mylar.core.context">
		<structureBridge
	        activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	        activeSearchLabel="XML Search"
	        class="org.eclipse.mylar.internal.xml.ant.AntStructureBridge"
	        name="Ant Structure Bridge"
	        parent="org.eclipse.mylar.internal.ide.ResourceStructureBridge"/>
		<structureBridge
	        activeSearchIcon="icons/elcl16/edge-ref-xml.gif"
	        activeSearchLabel="XML Search"
	        class="org.eclipse.mylar.internal.xml.pde.PdeStructureBridge"
	        name="PDE Structure Bridge"
	        parent="org.eclipse.mylar.internal.ide.ResourceStructureBridge"/>
	</extension>

   <extension point="org.eclipse.mylar.ui.context">
    <uiBridge
          class="org.eclipse.mylar.internal.xml.pde.PdeUiBridge"
          contentType="plugin.xml"/>
    <labelProvider
          class="org.eclipse.mylar.internal.xml.pde.PdeContextLabelProvider"
          contentType="plugin.xml"/>
    <uiBridge
          class="org.eclipse.mylar.internal.xml.ant.AntUiBridge"
          contentType="build.xml"/>
    <labelProvider
          class="org.eclipse.mylar.internal.xml.ant.AntContextLabelProvider"
          contentType="build.xml"/>
 </extension>
 
 	<extension
         id="org.eclipse.mylar.helpDocs"
         name="Mylar Help"
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="false">
      </toc>
   </extension>
  
</plugin>
