<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
   
            <extension
               point="org.eclipse.mylar.core.context">
            <structureBridge
                  class="org.eclipse.mylar.xml.ant.AntStructureBridge"
                  name="Ant Structure Bridge"
                  parent="org.eclipse.mylar.ide.ResourceStructureBridge"/>
            <structureBridge
                  class="org.eclipse.mylar.xml.pde.PdeStructureBridge"
                  name="PDE Structure Bridge"
                  parent="org.eclipse.mylar.ide.ResourceStructureBridge"/>
         </extension>
</plugin>
