<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
   <extension-point id="changeMonitoring" name="Resource Change Monitorin" schema="schema/changeMonitoring.exsd"/>
 
    <extension
         point="org.eclipse.mylyn.resources.ui.changeMonitoring">
		<exclude
         	pattern=".*"/>
   </extension>
 
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.eclipse.mylyn.internal.resources.ui.ResourceStructureBridge"
            name="Resource Structure Bridge"/> 
   </extension>
   
   <extension
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.eclipse.mylyn.internal.resources.ui.ResourceUiBridge"
            contentType="*"/>
      <labelProvider
            class="org.eclipse.mylyn.internal.resources.ui.ResourceContextLabelProvider"
            contentType="*"/>
   </extension>  
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.mylyn.internal.resources.ui.ResourcesUiPreferenceInitializer"/>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <dragAssistant
             class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
             viewerId="org.eclipse.mylyn.context.ui.navigator.context"/>
   </extension>
   -->
   
   <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
     	adaptable="true"
        id="org.eclipse.mylyn.ui.interest"
        objectClass="org.eclipse.core.resources.IResource">
     	<action
            class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
            enablesFor="*"
            icon="icons/elcl16/interest-decrease.gif"
            id="org.eclipse.mylyn.resources.ui.actions.InterestDecrementAction"
            label="Remove from Focus"
            menubarPath="additions"
            tooltip="Mark selected element as uninteresting">
      </action>
	    <action  
  		  	label="Mark as Landmark" 
	  		tooltip="Make selected element a landmark"
	  		menubarPath="additions" 
	  		id="org.eclipse.mylyn.resources.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
	 </objectContribution>
   </extension>
   
</plugin>
