<html><body><h1>Mylyn Services</h1>
<p>This is the default web page for the Mylyn Test Server.</p>
<p>The web server software is running with the following services.</p>
<blockquote>
  <script type="text/javascript">
  <!-- to hide script contents from old browsers
    function insertReply(content) {
      var erg = "<table width=\"100%\" border=\"1\"><tbody>";
      erg = erg + "<tr><td>Kind</td><td>URL</td><td>Version</td><td>Info</td><td>Properties</td></tr>";
      for (var i=0,len=content.length; i<len; i++) {
        erg = erg + "<tr><td>" + content[i].type
            + "</td><td><a href=\"" + content[i].url
            + "\">"+ content[i].url + "</a></td><td>" + content[i].version+ "</td><td>"
            + content[i].info + "</td><td>";
        var properties = content[i].properties; 
        if(!properties) {
          erg = erg + " "; 
        } else {
          var keys = Object.keys(properties);
          for (var j=0,lenkeys=keys.length; j<lenkeys; j++) {
            erg = erg + keys[j]+ " = " + properties[keys[j]]  +"<br>";
          }
        }
        erg = erg + "</td></tr>";
      }
      erg = erg + "</tbody></table>";
      document.getElementById('output').innerHTML = erg;
    }
    // create script element
    var script = document.createElement('script');
    // assing src with callback name
    script.src = 'cgi-bin/services?callback=insertReply';
    // insert script to document and load content
    document.body.appendChild(script);              
    // end hiding contents from old browsers  -->
  </script> </blockquote>
  <a id="output">empty service list</a>
</body></html>
