<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="shows the connector discovery wizard"
            id="org.eclipse.mylyn.discovery.ui.discoveryWizardCommand"
            name="Discovery Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.internal.discovery.ui.commands.ShowConnectorDiscoveryWizardCommandHandler"
            commandId="org.eclipse.mylyn.discovery.ui.discoveryWizardCommand">
         <enabledWhen>
     		<test
     			property="org.eclipse.core.runtime.isBundleInstalled" args="org.eclipse.equinox.p2.repository"/>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
