<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.versions.core.connectors">
      <connector
            core="org.eclipse.mylyn.internal.ccvs.core.CvsConnector"
            id="org.eclipse.team.cvs.core.cvsnature">
      </connector>
   </extension>

</plugin>
