<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>Boolean Parameter</name>
          <description>Boolean Parameter Description.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Choice Parameter</name>
          <description>Choice Parameter Description.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>A</string>
              <string>B</string>
              <string>C</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>String Parameter</name>
          <description>String Parameter Description.</description>
          <defaultValue>Default String</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Password Parameter</name>
          <description>Password Parameter Description.</description>
          <defaultValue>WvJxsdbCY0Nu1BRekmdfd3YKPdzKvnaD1PqQmB6d+kz7Nf4P/JDVgzFZ7BbZwmXyWezWs68s6prbBlV/rP7byg==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.RunParameterDefinition>
          <name>Run Parameter</name>
          <description>Run Parameter Description.</description>
          <projectName>test-ant</projectName>
        </hudson.model.RunParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>File Parameter</name>
          <description>File Parameter Description.</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;succeeding...&quot;; sleep 30; exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>