<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         Tasktop Technologies - initial API and implementation
 -->

<plugin>
	<extension point="org.eclipse.mylyn.tasks.core.templates">
		<repository addAutomatically="true" characterEncoding="ISO-8859-1"
			label="Eclipse.org" repositoryKind="bugzilla" urlRepository="https://bugs.eclipse.org/bugs"
			version="3.0" />
	</extension>
	<extension point="org.eclipse.mylyn.tasks.bugs.support">
    <category
          description="Commercial support"
          id="org.eclipse.mylyn.tasks.bugs.commercial"
          name="Commercial Support"
          weight="500">
    </category>
		<category description="Community supported open source projects"
			id="org.eclipse.mylyn.tasks.bugs.openSource" name="Open Source Community"
			weight="900" />
		<provider categoryId="org.eclipse.mylyn.tasks.bugs.openSource"
			description="Eclipse open source community bug tracker" icon="icons/branding32/eclipse.png"
			id="org.eclipse" name="Eclipse.org" url="http://eclipse.org/" />
		<mapping namespace="org.eclipse">
			<repository kind="bugzilla" url="https://bugs.eclipse.org/bugs">
			</repository>
		</mapping>
		<product featureId="org.eclipse.mylyn_feature" id="org.eclipse.mylyn"
			pluginId="org.eclipse.mylyn" providerId="org.eclipse" url="http://eclipse.org/mylyn/support/" />
		<mapping namespace="org.eclipse.mylyn" productId="org.eclipse.mylyn">
			<property name="product" value="Mylyn">
			</property>
		</mapping>
		<mapping namespace="org.eclipse.mylyn.tasks" productId="org.eclipse.mylyn">
			<property name="component" value="Tasks"/>
		</mapping>
		<mapping namespace="org.eclipse.mylyn.wikitext" productId="org.eclipse.mylyn">
			<property name="component" value="WikiText"/>
		</mapping>
		<product featureId="org.eclipse.pde" id="org.eclipse.pde"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.pde" productId="org.eclipse.pde">
			<property name="product" value="PDE">
			</property>
		</mapping>
		<product featureId="org.eclipse.platform" id="org.eclipse.platform"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.platform" productId="org.eclipse.platform">
			<property name="product" value="Platform">
			</property>
		</mapping>
		<product featureId="org.eclipse.cvs" id="org.eclipse.cvs"
			providerId="org.eclipse">
		</product>
		<mapping namespace="org.eclipse.team.cvs" productId="org.eclipse.cvs">
			<property name="product" value="Platform">
			</property>
			<property name="component" value="CVS">
			</property>
		</mapping>
		<product featureId="org.eclipse.jdt" id="org.eclipse.jdt"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.jdt" productId="org.eclipse.jdt">
			<property name="product" value="JDT">
			</property>
		</mapping>
		<!--
		<product id="org.eclipse.epp.package.java" providerId="org.eclipse" featureId="org.eclipse.epp.package.java.feature" />
		<mapping namespace="org.eclipse.epp.package.java" productId="org.eclipse.epp.package.java">
			<property name="product" value="EPP"/>
			<property name="component" value="java-package"/>
		</mapping>
		<product id="org.eclipse.epp.usagedata" providerId="org.eclipse" featureId="org.eclipse.epp.usagedata.feature" />
		<mapping namespace="org.eclipse.epp.package.java" productId="org.eclipse.epp.package.java">
			<property name="product" value="EPP"/>
			<property name="component" value="Usage Data Collector"/>
		</mapping>
		-->
		<product id="org.eclipse.wst.xml_ui" providerId="org.eclipse" featureId="org.eclipse.wst.xml_ui.feature" />
		<mapping namespace="org.eclipse.wst" productId="org.eclipse.wst.xml_ui">
			<property name="product" value="Web Tools"/>
			<property name="component" value="Web Standard Tools"/>
		</mapping>
	</extension>
</plugin>
