<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.mylyn.tasks.core.templates">
		<repository addAutomatically="true" characterEncoding="ISO-8859-1"
			label="Eclipse.org" repositoryKind="bugzilla" urlRepository="https://bugs.eclipse.org/bugs"
			version="3.0" />
	</extension>
	<extension point="org.eclipse.mylyn.tasks.bugs.support">
		<category description="Community supported Open-Source projects"
			id="org.eclipse.mylyn.tasks.bugs.openSource" name="Open-Source"
			weight="900" />
		<provider categoryId="org.eclipse.mylyn.tasks.bugs.openSource"
			description="Eclipse Open-Source projects" icon="icons/branding32/eclipse.png"
			id="org.eclipse" name="Eclipse.org" url="http://eclipse.org/" />
		<mapping namespace="org.eclipse">
			<repository kind="bugzilla" url="https://bugs.eclipse.org/bugs">
			</repository>
		</mapping>
		<product featureId="org.eclipse.mylyn_feature" id="org.eclipse.mylyn"
			pluginId="org.eclipse.mylyn" providerId="org.eclipse" url="http://eclipse.org/mylyn/" />
		<mapping namespace="org.eclipse.mylyn" productId="org.eclipse.mylyn">
			<property name="product" value="Mylyn">
			</property>
		</mapping>
		<mapping namespace="org.eclipse.mylyn.tasks" productId="org.eclipse.mylyn">
			<property name="component" value="Tasks">
			</property>
		</mapping>
		<product featureId="org.eclipse.pde" id="org.eclipse.pde"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.pde" productId="org.eclipse.pde">
			<property name="product" value="PDE">
			</property>
		</mapping>
		<product featureId="org.eclipse.platform" id="org.eclipse.platform"
			providerId="org.eclipse" />
		<mapping namespace="org.eclipse.platform" productId="org.eclipse.platform">
			<property name="product" value="PDE">
			</property>
		</mapping>
		<product featureId="org.eclipse.cvs" id="org.eclipse.cvs"
			providerId="org.eclipse">
		</product>
		<mapping namespace="org.eclipse.team.cvs" productId="org.eclipse.cvs">
			<property name="product" value="Platform">
			</property>
			<property name="component" value="CVS">
			</property>
		</mapping>
	</extension>
</plugin>
