<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="true"
            characterEncoding="%repository.encoding"
            label="%repository.label"
            repositoryKind="bugzilla"
            urlRepository="%repository.url"
            version="%repository.version"/>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.bugs.pluginRepositoryMappings">
      <mapping
            pluginIdPrefix="org.eclipse">
         <repository
               kind="bugzilla"
               url="%bugzilla.url">
         </repository>
      </mapping>
      <mapping
            pluginIdPrefix="org.eclipse.mylyn">
         <product
               value="%product.name">
         </product>
         <branding
               name="%product.description">
         </branding>
      </mapping>
   </extension>
</plugin>
