<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.builds.ui.connectors">
      <connector
            core="org.eclipse.mylyn.internal.hudson.core.HudsonConnector"
            kind="org.eclipse.mylyn.hudson"
            label="Hudson"
            ui="org.eclipse.mylyn.internal.hudson.ui.HudsonConnectorUi">
      </connector>
   </extension>

</plugin>
