<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.versions.core.connectors">
      <connector
            core="org.eclipse.mylyn.internal.git.core.GitConnector"
            id="org.eclipse.egit.core.GitProvider">
      </connector>
   </extension>

</plugin>
