<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.mylyn.commons.ui.screenshots.ScreenshotView"
            id="org.eclipse.mylyn.commons.tests.view.Screenshot"
            name="Screenshot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.workbench.urlHandlers">
      <handler
            class="org.eclipse.mylyn.commons.tests.workbench.browser.BrowserUtilTest$HighPriorityHandler"
            id="org.eclipse.mylyn.commons.tests.handler.HighPriority">
      </handler>
      <handler
            class="org.eclipse.mylyn.commons.tests.workbench.browser.BrowserUtilTest$LowPriorityHandler"
            id="org.eclipse.mylyn.commons.tests.handler.LowPriority">
      </handler>
   </extension>

</plugin>
