<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="templates" name="templates" schema="schema/templates.exsd"/>
   
   <!--
   <extension 
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector class="org.eclipse.mylyn.internal.bugs.java.BugzillaHyperLinkDetector"/>
   </extension>    
   -->

<!--
   <extension
         point="org.eclipse.mylyn.core.context">
      <structureBridge
            activeSearchIcon="icons/elcl16/edge-ref-bug.gif"
            activeSearchLabel="Bugzilla References"
            class="org.eclipse.mylyn.bugs.BugzillaStructureBridge"
            name="Bugzilla Structure Bridge"/>
   </extension>
   
   <extension
         point="org.eclipse.mylyn.ui.context">
      <uiBridge
            class="org.eclipse.mylyn.bugs.BugzillaUiBridge"
            contentType="bugzilla"/>
   </extension>
-->
</plugin>
