<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
<!--
   <extension
         point="org.eclipse.mylar.core.context">
      <structureBridge
            activeSearchIcon="icons/elcl16/edge-ref-bug.gif"
            activeSearchLabel="Bugzilla References"
            class="org.eclipse.mylar.bugs.BugzillaStructureBridge"
            name="Bugzilla Structure Bridge"/>
   </extension>
   
   <extension
         point="org.eclipse.mylar.ui.context">
      <uiBridge
            class="org.eclipse.mylar.bugs.BugzillaUiBridge"
            contentType="bugzilla"/>
   </extension>
-->
   
   <extension
         point="org.eclipse.mylar.java.javaEditorContributor">
      <hyperlinkDetector class="org.eclipse.mylar.internal.bugs.java.BugzillaHyperLinkDetector"/>
   </extension> 
   
   	<extension point="org.eclipse.ui.popupMenus"> 
		<objectContribution
            objectClass="org.eclipse.team.internal.ui.synchronize.ChangeSetDiffNode"
            id="org.eclipse.mylar.ui.team.synchronize.open.report">
         <action
	           class="org.eclipse.mylar.internal.bugs.ui.actions.OpenCorrespondingTaskAction"
	           enablesFor="1" 
	           icon="icons/elcl16/task-repository.gif"
	           id="org.eclipse.mylar.bugzilla.ui.team.synchronize.contribution.open.report"
	           label="Open Corresponding Task"
	           menubarPath="mylar"
	           tooltip="Open Corresponding Task"> 
	  		</action> 
	    </objectContribution>
		<objectContribution
            objectClass="org.eclipse.team.internal.ccvs.core.client.listeners.LogEntry"
            id="org.eclipse.mylar.ui.team.history.open.report">
         <action
	           class="org.eclipse.mylar.internal.bugs.ui.actions.OpenCorrespondingTaskAction"
	           enablesFor="1" 
	           icon="icons/elcl16/task-repository.gif"
	           id="org.eclipse.mylar.bugzilla.ui.team.history.contribution.open.report"
	           label="Open Corresponding Task"
	           menubarPath="mylar"
	           tooltip="Open Corresponding Task"> 
	  		</action> 
	    </objectContribution>
	</extension>
</plugin>
