/* See bug 466075 about the pseudo-selector ":org-eclipse-mylyn-tasks-ui" */
IEclipsePreferences#org-eclipse-ui-workbench:org-eclipse-mylyn-tasks-ui {
	preferences:
		'org.eclipse.mylyn.tasks.ui.colors.foreground.today.scheduled=52,101,164'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.past.scheduled=52,101,164'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.thisweek.scheduled=85,87,83'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.task.active=117,80,123'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=85,87,83'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=136,137,133'
}

/* See org.eclipse.ui.themes/css/dark/e4-dark_globalstyle.css for additional
 * Mylyn Theme settings */
DatePickerPanel {
    background-color: #41464A;
    color: #dddddd;
}
