<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.github.internal.GitHubRepositoryConnector"
            id="org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnector"
            name="%org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnector">
      </connectorCore>
      <connectorUi
            brandingIcon="images/git-logo.png"
            class="org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnectorUI"
            id="org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnectorUI"
            name="%org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnectorUI"
            overlayIcon="images/git-logo.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.github.ui.internal.GitHubTaskEditorPageFactory"
            id="org.eclipse.mylyn.github.ui.internal.GitHubTaskEditorPageFactory">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create Gist based on selection"
            id="org.eclipse.mylyn.github.ui.command.createGist"
            name="Create Gist">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext?after=additions">
         <command
               commandId="org.eclipse.mylyn.github.ui.command.createGist"
               icon="icons/obj16/github.png"
               label="Create Gist"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.mylyn.github.ui.command.createGist"
               icon="icons/obj16/github.png"
               label="Create Gist"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.github.ui.internal.CreateGistHandler"
            commandId="org.eclipse.mylyn.github.ui.command.createGist">
      </handler>
   </extension>

</plugin>
