<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.github.core.issue.IssueConnector"
            id="org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnector"
            name="%org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnector">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/obj16/github.png"
            class="org.eclipse.mylyn.internal.github.ui.issue.IssueConnectorUi"
            id="org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnectorUI"
            name="%org.eclipse.mylyn.github.ui.internal.GitHubRepositoryConnectorUI"
            overlayIcon="icons/obj16/github_8x8.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.github.ui.issue.IssueTaskEditorPageFactory"
            id="org.eclipse.mylyn.github.ui.internal.GitHubTaskEditorPageFactory">
      </pageFactory>
      <pageFactory
            class="org.eclipse.mylyn.internal.github.ui.gist.GistTaskEditorPageFactory"
            id="org.eclipse.mylyn.internal.github.ui.gist.GistTaskEditorPageFactory">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create Gist based on selection"
            id="org.eclipse.mylyn.github.ui.command.createGist"
            name="Create Gist">
      </command>
      <command
            description="Clone Gist into Git repository"
            id="org.eclipse.mylyn.github.ui.command.cloneGist"
            name="Clone Gist">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext?after=additions">
         <command
               commandId="org.eclipse.mylyn.github.ui.command.createGist"
               icon="icons/obj16/github.png"
               label="Create Gist"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.mylyn.github.ui.command.createGist"
               icon="icons/obj16/github.png"
               label="Create Gist"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.internal.github.ui.gist.CreateGistHandler"
            commandId="org.eclipse.mylyn.github.ui.command.createGist">
      </handler>
      <handler
            class="org.eclipse.mylyn.internal.github.ui.gist.CloneGistHandler"
            commandId="org.eclipse.mylyn.github.ui.command.cloneGist">
      </handler>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.github.core.gist.GistConnector"
            id="org.eclipse.mylyn.internal.github.core.gist.GistConnector"
            name="%gistCoreConnectorName">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/obj16/github.png"
            class="org.eclipse.mylyn.internal.github.ui.gist.GistConnectorUi"
            id="org.eclipse.mylyn.internal.github.ui.gist.GistConnectorUi"
            name="%gistUiConnectorName"
            overlayIcon="icons/obj16/github_8x8.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.mylyn.tasks.ui.wizards.import.category"
            class="org.eclipse.mylyn.github.ui.internal.ImportRepositoriesWizard"
            icon="icons/obj16/github.png"
            id="org.eclipse.mylyn.github.ui.importRepositoriesWizard"
            name="%importRepositoriesWizardName">
      </wizard>
   </extension>

</plugin>
